/***********************************/
/*************  RESET  *************/
/***********************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, button, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;}
body {
	height: 100%;
	font: 14px/24px Arial, Tahoma, sans-serif;
	background-color: #fff;
}
ol, ul {list-style: none;}
* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {text-decoration: none; color: inherit;}
img {display: block;}

@font-face {
    font-family: 'walkway_blackregular';
    src: url('Walkway_Black-webfont.eot');
    src: url('Walkway_Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Walkway_Black-webfont.woff') format('woff'),
         url('Walkway_Black-webfont.ttf') format('truetype'),
         url('Walkway_Black-webfont.svg#walkway_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NexaLight';
    src: url('../fonts/NexaLight.eot');
    src: url('../fonts/NexaLight.eot') format('embedded-opentype'),
         url('../fonts/NexaLight.woff2') format('woff2'),
         url('../fonts/NexaLight.woff') format('woff'),
         url('../fonts/NexaLight.ttf') format('truetype'),
         url('../fonts/NexaLight.svg#NexaLight') format('svg');
}


/*************************************/
/**********  GENERAL RULES  **********/
/*************************************/


.clearfix::before,
.clearfix::after {
	content: " ";
	display: table;
}
.clearfix::after {clear: both;}

.left {float:left;}
.right {float:right;}
.text-center {text-align: center;}
.text-accent {color: #0199e6;}

#wrapper {
	width: 100%;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

/*
@media screen and (max-width: 800px) {
	.container {
		width: 100%;
		margin: 0;
	}

}
*/


/***********************************/
/**********  MAIN STYLES  **********/
/***********************************/


/*==========================================================*/
/************************   Header   ************************/
/*==========================================================*/


.header {
	padding-bottom: 210px;
	width: 100%;
	background: #323232 url(../img/head-bg.jpg) no-repeat center;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header .block-top {
	padding: 20px 0;
	margin-bottom: 145px;
	width: 100%;
	background: #fff;
	box-shadow: 0 1px 9px #676767;
	z-index: 10;
}

.header-logo a,
.footer-logo a {
	font: 35px/30px "Walkway Black";
	text-transform: capitalize;
	color: #323232;
}
.header-logo span,
.footer-logo span {margin-left: -12px;}

.header-social {
	display: none;
}
.header-social .social {
	display: inline-block;
	margin-right: 3px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #000 url("../img/social-white-ic.png") no-repeat -1px 0;
}
.header-social .social-tw {background-position: -32px 0;}
.header-social .social-in {background-position: -63px 0;}




.nav-item {
	float: left;
	display: block;
	margin-right: 20px;
	font: 700 14px/35px "Raleway";
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.nav-item:last-child {margin-right: 0;}
.nav-item.active,
.nav-item:hover {
	color: #0199e6;
	box-shadow: 0 11px 0 -10px #0199e6;
}


/*====================*/

#touch-menu {
	display: block;
	font-weight: bold;
	font-size: 36px;
	color: #ffffff;
}

#touch-menu {display: none;}


/*====================*/

.header-title {
	margin-bottom: 30px;
	font: 500 45px/60px "Raleway";
	color: #fff;
}

.header-title span {font-weight: 700;}

.header-info {
	padding: 0 215px;
	margin-bottom: 60px;
	font: 20px/30px "Source Sans Pro";
	color: #fff;
}

.user-info {
	position: relative;
	padding: 25px;
	margin: 0 auto 15px;
	width: 970px;
	background: rgba(0, 0, 0, 0.5);
}

.user-info input[type="text"] {
	padding: 10px 20px;
	margin-right: 20px;
	width: 215px;
	height: 55px;
	font: 16px/16px "Source Sans Pro";
	color: #fff;
	background: #000;
	border: 1px solid rgba(1, 153, 230, 0.3);
	border-radius: 2px;
	box-shadow: -3px 0 0 #0199e6;
}

.user-info input[type="submit"],
.register-btn {
	padding: 10px 0;
	width: 185px;
	height: 55px;
	font: 700 16px/16px "Raleway";
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background-color: #008ed6;
	border-radius: 2px;
	border: none;
	cursor: pointer;
}

.register-now {
	position: absolute;
	bottom: -45px;
	right: 155px;
	display: inline-block;
	padding-right: 50px;
	padding-top: 12px;
	font: 16px/16px "Source Sans Pro";
	color: #fff;
	background: url(../img/arrow.png) top right no-repeat;
}


/*==========================================================*/
/************************   Brief   *************************/
/*==========================================================*/



.brief {
	width: 100%;
	padding: 100px 0;
}

.brief-right {
	background: #fff;
}

.brief-feature {
	width: 555px;
}

.brief-title {
	position: relative;
	margin-bottom: 55px;
	font: 500 35px/50px "Raleway";
	color: #323232;
}
.brief-title::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -25px;
	width: 68px;
	height: 1px;
	background-color: #0199e6;
}

.brief-feature p {
	font: 400 16px/25px "Source Sans Pro";
	color: #727272;
}

.brief-info {margin-bottom: 40px;}

.brief-more {
	position: relative;
	margin-bottom: 40px;
	padding-left: 50px;
}
.brief-more:last-child {margin-bottom: 0;}
.brief-more::before {
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	width: 32px;
	height: 32px;
	border-radius: 3px;
	background: #0199e6 url(../img/brief-icons.png) no-repeat 1px 0;
}
.brief-more-flash-ic::before { background-position: -32px 0; }
.brief-more-circle-ic::before { background-position: -64px 0; }
.brief-more-camera-ic::before { background-position: -96px 0; }

.brief-more h5 {
	margin-bottom: 5px;
	font: 700 16px/24px "Raleway";
	color: #323232;
}

.brief-img.left {margin-right: 53px; }


.brief-left {
	background: #f7f8fa;
}

.brief-img.right {margin-left: 53px; }


/*==========================================================*/
/*********************   LandX Features   *******************/
/*==========================================================*/


.features, 
.pricing,
.watch,
.screenshots,
.testimonials {
	padding: 100px 0;
	width: 100%;
	background: #fff;
}

.features-header,
.pricing-header,
.watch-header,
.screenshots-header,
.testimonials-header {
	text-align: center;
	margin-bottom: 60px;
}

.features-title,
.pricing-title,
.watch-title,
.screenshots-title,
.testimonials-title {
	position: relative;
	margin-bottom: 30px;
	font: 35px/45px "Raleway";
	font-weight: 500;
	color: #323232;
}
.features-title::before,
.pricing-title::before,
.watch-title::before,
.screenshots-title::before,
.testimonials-title::before {
	content: '';
	position: absolute;
	bottom: -30%;
	left: 46%;
	width: 68px;
	height: 1px;
	background-color: #0199e6;
}

.features-paragraph,
.pricing-paragraph,
.watch-paragraph,
.screenshots-paragraph,
.testimonials-paragraph {
	font: 17px/25px "Source Sans Pro";
	font-weight: 400;
	color: #727272;
}

.feature-item {
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
	padding: 0 30px;
	width: 350px;
	max-height: 250px;
	overflow: hidden;
}
.feature-item:nth-child(3n) {margin-right: 0;}
.feature-item:nth-last-child(1) {margin-bottom: 0;}
.feature-item:nth-last-child(2) {margin-bottom: 0;}
.feature-item:nth-last-child(3) {margin-bottom: 0;}

.feature-item h4 {
	margin-bottom: 35px;
	font: 20px/20px "Raleway";
	font-weight: 600;
	color: #323232;
}

.feature-item p {
	font: 16px/25px "Source Sans Pro";
	font-weight: 400;
	color: #727272;
}

.item-header {padding-top: 2px;}

.item-icon {
	position: relative;
	margin: 0 auto;
	width: 86px;
	height: 70px;
	border-radius: 4px;
}
/*.item-icon:hover {box-shadow: 0 0 1px 1px #0199e6;}*/

.item-icon a {
	position: absolute;
	left: 18px;
	bottom: 10px;
}


/*==========================================================*/
/**********************   Pricing Table   *******************/
/*==========================================================*/


.pricing {background: #f7f8fa;}

.offer {
	float: left;
	margin-right: 30px;
	width: 350px;
	border-radius: 3px;
	box-shadow: 0 0 1px 1px #e5e5e5;
}
.offer:last-child {margin-right: 0;}
.offer.active .offer-header {background: #0199e6}
.offer.active .offer-header span {color: #fff;} 
.offer.active .sign-up {
	color: #fff;
	background: #0199e6;
}

.offer-header {
	padding: 20px;
	background: #323232;
}

.offer-header h4 {
	margin-bottom: 10px;
	font: 24px/24px "Raleway";
	font-weight: 600;
	color: #fff;
}

.offer-header p {
	font: 16px/24px "Source Sans Pro";
	font-weight: 400;
	color: #fff;
}

.offer-header span {font-weight: 700;}

.offer-include-services {
	display: table;
	background: #fff;
}

.offer-service {display: table-row;}

.offer-service li {
	display: table-cell;
	border-bottom: 1px dotted #e3e3e3;
}
.offer-service li img {
	display: block;
	margin: 0 auto;
}

.service-item {
	padding-left: 30px;
	width: 278px;
	font: 16px/50px "Source Sans Pro";
	font-weight: 400;
	color: #323232;
}

.service-item-value {
	width: 72px;
	text-align: center;
}

.offer-footer {
	padding: 15px 30px;
	background: #fff;
}

.price {
	font: 18px/40px "Raleway";
	font-weight: 700;
}

.sign-up {
	width: 95px;
	height: 40px;
	font: 16px/40px "Raleway";
	font-weight: 700;
	color: #727272;
	text-transform: uppercase;
	border-radius: 3px;
	cursor: pointer;
	background: #fff;
}
.sign-up:hover {
	-webkit-box-shadow: 0 0 0 1px #727272;
	-moz-box-shadow: 0 0 0 1px #727272;
	box-shadow: 0 0 0 1px #727272;
}


/*==========================================================*/
/**********************   Testimonials  *********************/
/*==========================================================*/


.testimonials-companies {
	margin: 0 auto;
	margin-bottom: 90px;
	text-align: center;
}

.company-logo {
	display: inline-block;
	margin-right: 40px;
}

.testimonials-box {width: 100%;}

.testimonial-item {
	float: left;
	margin-right: 40px;
	width: 350px;
	text-align: center;
}
.testimonial-item:last-child {margin-right: 0;}

.testimonial-item-paragraph,
.testimonial-signature {
	font: 16px/25px "Source Sans Pro";
	color: #727272;
}

.testimonial-item-paragraph {
	position: relative;
	padding: 40px 30px 30px;
	margin-bottom: 20px;
	height: auto;
	font-style: italic;
	border-bottom: 2px solid #e5e5e5;
	background: #f7f8fa;
	border-radius: 3px;
}
.testimonial-item-paragraph::after {
	content: '';
	position: absolute;
	display: block;
	left: 164px;
	bottom: -13px;
	border: 14px solid #f7f8fa;
	border-bottom: none;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.testimonial-item-paragraph::before {
	content: '';
	position: absolute;
	display: block;
	left: 163px;
	bottom: -15px;
	border: 15px solid #e5e5e5;
	border-bottom: none;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
}

.testimonial-item-paragraph p::before {
	content: '';
	position: absolute;
	display: block;
	width: 32px;
	height: 32px;
	left: 157px;
	top: -16px;
	background: url(../img/quotes.png);
	border-radius: 1px;
	box-shadow: 0 0 0 6px #fff,
				0 0 0 8px #e5e5e5;
}

.testimonial-signature span {display: block;}

.testimonial-signature .autor {font-weight: 700;}

.testimonial-signature .autor-company {
	font-size: 13px;
}


/*==========================================================*/
/**********************   Registration   ********************/
/*==========================================================*/


.register {
	padding: 105px 0 125px;
	width: 100%;
	color: white;
	background: url(../img/reg-bg.jpg) no-repeat center;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.register h3,
.register-slogan {
	font: 35px/65px "Raleway";
	font-weight: 700;
}

.register h3 {margin-bottom: 35px;}

.register-slogan {
font-size: 20px;
}

.register-btn {
	position: relative;
	padding-top: 14px;
	padding-left: 25px;
	text-align: left;
}
.register-btn::after {
	content: '';
	position: absolute;
	display: block;
	bottom: 22px;
	right: 25px;
	width: 14px;
	height: 8px;
	background: url(../img/arrow-btn.png) no-repeat;
}


/*==========================================================*/
/***********************   Contact Us   *********************/
/*==========================================================*/


.contacts {
	padding: 60px 0 70px;
	width: 100%;
	background: #fff;
}

.contacts h4 {
	font: 24px/65px "Raleway";
	font-weight: 600;
	color: #323232;
}

.contacts .contact-us {
	display: inline-block;
	padding-left: 25px;
	font: 18px/30px "Raleway";
	font-weight: 700;
	text-transform: uppercase;
	color: #008ed6;
	background: url(../img/letter-icon.png) no-repeat 0 7px;
}


/*==========================================================*/
/*************************   FOOTER   ***********************/
/*==========================================================*/


.footer {
	padding: 75px 0 100px;
	width: 100%;
	background: #f7f8fa;
}

.footer .copywrite {
	font: 16px/30px "Source Sans Pro";
	font-weight: 400;
	color: #919191;
}

.footer-logo {margin-bottom: 15px}
.footer .copywrite {margin-bottom: 20px}

.footer-social {
	height: 26px;
}

.footer-social .social {
	display: inline-block;
	margin-right: 5px;
	width: 26px;
	height: 26px;
	border-radius: 4px;
	background: #919191 url(../img/social-ic.png) no-repeat 0 0;
}
.footer-social .social:last-child {margin-right: 0;}

.footer-social .social-tw {background-position: -26px 0;}
.footer-social .social-pint {background-position: -52px 0;}
.footer-social .social-gplus {background-position: -78px 0;}
.footer-social .social-inst {background-position: -104px 0;}
.footer-social .social-linkdn {background-position: -130px 0;}


/*!*==========================================================*!
!******************   Product Screenshots   *****************!
!*==========================================================*!

<section class="screenshots">
				<div class="container">
					<header class="screenshots-header">
						<h3 class="screenshots-title">Product Screenshots</h3>
						<p class="screenshots-paragraph">Term sheet convertible note colluding bootstrapping.</p>
					</header>
					<div class="screenshots-slider clearfix">
					  	<div class="slide"><img src="img/product-1.jpg" width="350"></div>
					  	<div class="slide"><img src="img/product-2.jpg" width="350"></div>
					  	<div class="slide"><img src="img/product-3.jpg" width="350"></div>
					</div>
					<div class="slider-controls">
						<form action="#">
							<input class="switch" type="radio" id="switch-1" name="switch" value="screenshot-1" checked>
							<label for="switch-1"></label>
							<input class="switch" type="radio" id="switch-2" name="switch" value="screenshot-2">
							<label for="switch-2"></label>
							<input class="switch" type="radio" id="switch-3" name="switch" value="screenshot-3">
							<label for="switch-3"></label>
						</form>
					</div>
				</div>
			</section>


.screenshots {background: #f7f8fa;}

.screenshots-slider {
	margin-bottom: 40px;
	width: 100%;
	overflow: hidden;
}

.screenshots-slider .slide {
	float: left;
	margin-right: 30px;
	width: 360px;
	overflow: hidden;
	border: 5px solid #fff;
	box-shadow: 0 0 0 1px #e3e3e3;
}
.screenshots-slider .slide:last-child {margin-right: 0;}

@media screen and (max-width: 1190px) and (min-width: 801px) {
	.screenshots-slider .slide {
		margin-right: 2%;
		width: 32%;
	}
	.screenshots-header {margin-bottom: 5%;}

	.slide img {
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 800px) {
	.screenshots-header {margin-bottom: 8%;}
	.screenshots-slider .slide {
		margin-right: 4%;
		width: 48%;
	}
	.screenshots-slider .slide:nth-child(n + 3) {  display: none;  }
	.screenshots-slider .slide:nth-child(2) {margin-right: 0;}

	.slide img {
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 480px) {
	.screenshots-slider .slide {
		margin-right: 0;
		width: 100%;
	}
	.screenshots-slider .slide:nth-child(n + 2) {  display: none;  }
}

@media screen and (max-width: 420px) {
	.screenshots-title::before,
	.testimonials-title::before {
		width: 20%;
		left: 40%;
		bottom: -10px;
	}
}*/


/*==========================================================*/
/***************   Testimonials And Clients   ***************/
/*==========================================================*/
