@font-face {
  font-family: 'QuenteScript';
  src: url('../fonts/QuenteScript/QuenteScript.eot');
  src: local('QuenteScript'),
  url('../fonts/QuenteScript/QuenteScript.eot?#iefix') format('embedded-opentype'),
  url('../fonts/QuenteScript/QuenteScript.woff') format('woff'),
  url('../fonts/QuenteScript/QuenteScript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuenteScript-Black';
  src: url('../fonts/QuenteScript-Black/QuenteScript-Black.eot');
  src: local('QuenteScript-Black'),
  url('../fonts/QuenteScript-Black/QuenteScript-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/QuenteScript-Black/QuenteScript-Black.woff') format('woff'),
  url('../fonts/QuenteScript-Black/QuenteScript-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuenteScript-Bold';
  src: url('../fonts/QuenteScript-Bold/QuenteScript-Bold.eot');
  src: local('QuenteScript-Bold'),
  url('../fonts/QuenteScript-Bold/QuenteScript-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/QuenteScript-Bold/QuenteScript-Bold.woff') format('woff'),
  url('../fonts/QuenteScript-Bold/QuenteScript-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuenteScript-SemiBold';
  src: url('../fonts/QuenteScript-SemiBold/QuenteScript-SemiBold.eot');
  src: local('QuenteScript-SemiBold'),
  url('../fonts/QuenteScript-SemiBold/QuenteScript-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/QuenteScript-SemiBold/QuenteScript-SemiBold.woff') format('woff'),
  url('../fonts/QuenteScript-SemiBold/QuenteScript-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuenteScript-Pen';
  src: url('../fonts/QuenteScript-Pen/QuenteScript-Pen.eot');
  src: local('QuenteScript-Pen'),
  url('../fonts/QuenteScript-Pen/QuenteScript-Pen.eot?#iefix') format('embedded-opentype'),
  url('../fonts/QuenteScript-Pen/QuenteScript-Pen.woff') format('woff'),
  url('../fonts/QuenteScript-Pen/QuenteScript-Pen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}