@import "../libs/bourbon/app/assets/stylesheets/bourbon";
@import "params";
@import "mixins";

//defalt styles
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  font-family: $helvetica;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333;
  background-color: #fdfdfd;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 1em 0;
}


a, a:link, a:visited {
  color: #32628B;
}
a {
  &:focus {
    color: inherit;
  }
  &:hover {
    color: #000;
  }
  &.active {
    text-decoration: none;
    color: #000;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0;
  text-align: center;
}

button {
  display: block;
  padding: 0;
  border: none;
}
input {
  border: none;
  outline: none;
  box-sizing: border-box;
}




.wrapper {
  //min-height: 100%;
  width: 100%;
  min-width: 250px;
  border: 1px solid #999;
  overflow-x: hidden;
  position: relative;
}

.clearfix {
  @include clearfix;
}


//Custom styles here

// Flex Nav

#menu_flex-nav {
  margin-top: 100px;

  .menu-button {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #00A0B0;
  }

  .navicon {
    color: #fff;
  }

  .flexnav > li {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    a {
      color: #fff;
      background-color: #00A0B0;

      &:hover {
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
    }

    ul {
      li {
        a {
          background-color: #EB6841;
        }

        ul {
          li {
            a {
              background-color: #EDC951;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 800px) {
  #menu_flex-nav {
    .flexnav {

      >li {

        a {
          border: none;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////


// SLICK JS

#slider_slick {
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 100px;
  background: #3498DB;

  .slick-slider_1 {
    width: 500px;
    margin: 0 auto;
    a {
      display: block;
      width: 500px;
      text-align: center;
      overflow: hidden;
      background: #fff;

      img {
        width: 100%;
        height: auto;
        display: inline-block;
      }
    }
  }
}


////////////////////////////////////////////////////////////////////



// OWL CAROUSEL 2

#slider_owl {
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 100px;
  background: #EB6841;
}

////////////////////////////////////////////////////////////////////

#menu_super-fish {
  margin-top: 100px;
}

// MASONRY GRID

#grid_masonry {
  margin-top: 100px;
  background-color: #999;

  .grid-sizer {
    width: 20%;
  }
  .grid-item {
  }
}

//////////////////////////////////////////////////////////////////////

// BOOTSTRAP

#bootstrap_grid {
  margin-top: 100px;

  .block-wrap {
    //display: inline-block;
    //float: none;
    vertical-align: top;
    //margin-left: -4px;
    margin-bottom: 30px;
  }
  .text-box {
    display: inline-block;
    background-color: #999;
  }
}

//////////////////////////////////////////////////////////////////////////