@import "../libs/bourbon/app/assets/stylesheets/bourbon";
@import "params";
@import "mixins";

/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1720px) {
  .categories .categories_item:nth-child(5n+1) {
    clear: both;
  }
  .categories .categories_item:nth-child(6n+1) {
    clear: none;
  }
}

@media only screen and (max-width : 1600px) {
  .header_panel {
    #search_form input[type="text"] {
      width: 85%;
    }
  }
}

@media only screen and (max-width : 1500px) {
  .categories .categories_item:nth-child(4n+1) {
    clear: both;
  }
  .categories .categories_item:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (max-width : 1280px) {
  .categories .categories_item:nth-child(3n+1) {
    clear: both;
  }
  .categories .categories_item:nth-child(4n+1) {
    clear: none;
  }

  .product_view_box {
    width: 40%;
  }
  .product_info_box {
    width: 60%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

  .header_panel #search_form input[type="text"] {
    width: 78%;
  }

  .categories {
    margin-top: 200px;

    .categories_item {
      width: 200px;
    }
  }

  .subcategories {
    margin-top: 240px;

    .subcategories_item {
      margin: 7px;
    }
  }

  .sidebar-show {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    background-color: #E0E0E0;
    z-index: 20;
  }
  .sidebar-left {
    position: fixed;
    display: none;
    width: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 15px 0 15px 15px;
    background: rgba(#000, .4);
    z-index: 20;

    &.active {
      display: block;
    }

    .sidebar-wrap {
      position: relative;
      padding-right: 12px;
      padding-left: 12px;
      width: 75%;
      height: 100%;
      border-radius: 6px;
      border: 1px solid #CCCCCC;
      background-color: #F9F9F9;
      overflow-y: scroll;
    }
    .close {
      position: fixed;
      top: 10px;
      right: 20px;
      width: 20px;
      height: 20px;
      display: block;
      background-image: url(../img/cancel-white.png);
    }
  }
  .close {
    margin-top: 6px;
    display: block;
    float: right;
    width: 12px;
    height: 12px;
    background: url("../img/close.png") no-repeat center;
    background-size: cover;
    cursor: pointer;
  }

  .carousel_box {
    width: 450px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .top_menu {
    text-align: center;

    .home {
      float: left;
    }
    .menu-show {
      display: block;
      text-decoration: none;

      &:hover {
        color: inherit;
        background-color: darken(#fff, 10);
        transition: all .3s ease;
      }
    }
    .close {
      display: block;}
  }
  .prod_box .tip {
    display: none;
  }

  .top_menu_list {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #fff;
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    transform: translateY(-150px);
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;

    li {
      float: none;
      padding-left: 15px;
      padding-right: 15px;
      margin-right: 0;
      display: block;
      font-size: 14px;
      background-image: none;

      &:hover {
        background-color: #D0E7F9;
      }
      a {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    .top_menu_buttons {

      &:hover {
        background-color: #fff;
      }
      .close {
        width: 30px;
        height: 30px;
        background-size: 12px;
      }
      .home {
        margin-top: 12px;
      }
    }
  }
  .top_menu_list.active {
    display: block;
    min-height: 100%;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    z-index: 20;
    opacity: 1;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;

    li {
      a {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  .header_panel {
    #search_form input[type="text"] {
      width: 75%;
    }
    .logo {
      padding-right: 13px;
      width: 130px;
    }
    .telephones {
      font-size: 13px;
      padding-top: 20px;
      padding-right: 10px;
      width: 200px;
    }

  }

  .categories .categories_item {
    width: 48%;
    margin-right: 2%;

    &:nth-child(3n+1) {
      clear: none;
    }
    &:nth-child(2n-1) {
      clear: both;
    }
  }


  .main_footer {
    .footer_wrap {

    }
    .f_info {
      float: right;
      width: 49%;
    }
    .f_contacts {
      float: right;
      width: 49%;
    }
    .f_links {
      width: 100%;
    }
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  body {
    font-size: 14px;
    line-height: 1.5;
  }

  .header_panel {
    .header_center {
      padding-bottom: 33px;
    }
    .search_wrap {
      display: block;
      padding-top: 0;
      padding-left: 10px;
      padding-right: 10px;
      position: absolute;
      width: 97%;
      bottom: 0;
      left: 0;
    }
    #search_form input[type="text"] {
      width: 87%;
    }
    .cart_box {
      padding-right: 0;
      width: 75px;
    }
  }

  .sidebar-right {
    display: none;
  }


  .subcategories {
    text-align: center;
    .subcategories_item {
      display: inline-block;
      width: 80%;
      float: none;
      height: auto;
      margin-top: 0;
      margin-bottom: 7px;
      padding: 0;

      .subcategories_image {
        display: none;
      }
    }
  }

  .products_wrap {
    text-align: center;

    .prod_box {
      display: inline-block;
      float: none;
    }
  }

  .product_view_box {
    width: 50%;
  }
  .product_info_box {
    width: 50%;

    .manufacturer {
      max-width: 100%;
      height: auto;
    }
  }

  .parameters {
    border-collapse: collapse;
    width: 95%;
    min-width: 200px;
  }

    .visited_products {
    text-align: center;

    .products_item {
      width: 100%;
      height: auto;
    }
    .product_img_box {
      overflow: hidden;
    }
    .product_text {
      display: block;
      width: 100%;
    }
  }

  .desc_box {
    font-size: 14px;

    h1 {
      font-size: 24px;
    }

    &.short {
      &>div {
        height: 350px;
        position: relative;
      }
    }
  }
  .short > div::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: linear-gradient(to top, #fff 0px, transparent);
  }

}

@media only screen and (max-width : 560px) {
  .carousel_box {
    display: none;
  }

  .product_view_box {
    width: 100%;
    text-align: center;

    .product_image,
    .gallery_box,
    .thumb_box {
      display: inline-block;
    }
  }
  .product_info_box {
    width: 100%;
  }

  .main_wrap {
    .categories {
      margin-top: 0;
    }
    .subcategories {
      margin-top: 0;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .header_panel {
    #search_form input[type="text"] {
      width: 80%;
    }
    #search_advice_wrapper {
      width: 250px;
    }
    .telephones {
      display: none;
    }
  }

  .categories {
    text-align: center;
    .categories_item {
      display: inline-block;
      width: 100%;
      margin-right: 0;
      text-align: center;

      &:nth-child(n) {
        clear: none;
      }
      .categories_image {
        display: inline-block;
      }
    }
  }

  .subcategories {
    .subcategories_item {
      width: 80%;
    }
  }

  .product_page {
    padding-left: 0;
  }
  .product_view_box .thumb_box {
    width: 260px;
    box-sizing: border-box;
  }
  .product_image {
    a {
      img {
        width: 200px;
      }
    }
  }
  .product_info_box {
    padding-left: 0;
    .manufacturer {
      width: 200px;
    }
  }
  .product_delivery {
    margin: 0;
  }

  #tabs {
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
  }
  #tabs-params {
    font-size: 11px;
    padding-right: 0;
  }

  ul.tabs-1 {
    font-size: 11px;
  }
  .ui-tabs .ui-tabs-nav li a {
    padding: 5px 3px;
  }
  .foto-block {
    a {
      display: block;

      img {
        width: 200px;
        height: auto;
      }
    }
  }
  .video {
    div {
      iframe {
      }
    }
  }

  .main_footer {
    .f_info {
      float: right;
      width: 100%;
    }
    .f_contacts {
      float: right;
      width: 100%;
    }
  }

}


/////////////////////////// CATEGORIES MENU


@media only screen and (min-width : 1201px) {
  .item_cont {
    display: block;
    min-width: 700px;
  }

  html.tablet {
    .category_menu {
      border: none;
      background: none;
      box-shadow: none;
      padding: 0;
      .menu_wrap {
        padding-right: 10px;
        padding-left: 10px;
        display: block;
        //position: relative;
        top: 0;
        left: 0;
        width: 99%;
        z-index: 10;
        box-sizing: border-box;

        .item_cont {
          position: relative;
          display: none;
          opacity: 1;
          border: none;
          box-shadow: none;
          transition: height .5s;
          z-index: 10;

          &.active {
            transition: height .5s;
          }
        }
        .menu_item {
          float: none;
          margin-bottom: 5px;
        }
        .item_link {
          padding: 7px;
          margin-left: 0;
          width: 100%;
          font-family: "Verdana", sans-serif;
          text-align: center;
          color: #32628B;
          text-shadow: none;
          background-color: #fff;
          border-radius: 3px;
          border: 1px solid #d0e7f9;
          box-sizing: border-box;

          &:hover {
            color: inherit;
            background-color: darken(#fff, 10);
            transition: all .3s ease;
          }
        }
      }
    }
  }
  html.mobile {
    .category_menu {
      border: none;
      background: none;
      box-shadow: none;
      padding: 0;
      .menu_wrap {
        padding-right: 10px;
        padding-left: 10px;
        display: block;
        //position: relative;
        top: 0;
        left: 0;
        width: 99%;
        z-index: 10;
        box-sizing: border-box;

        .item_cont {
          position: relative;
          display: none;
          opacity: 1;
          border: none;
          box-shadow: none;
          transition: height .5s;
          z-index: 10;

          &.active {
            transition: height .5s;
          }
        }
        .menu_item {
          float: none;
          margin-bottom: 5px;
        }
        .item_link {
          padding: 7px;
          margin-left: 0;
          width: 100%;
          font-family: "Verdana", sans-serif;
          text-align: center;
          color: #32628B;
          text-shadow: none;
          background-color: #fff;
          border-radius: 3px;
          border: 1px solid #d0e7f9;
          box-sizing: border-box;

          &:hover {
            color: inherit;
            background-color: darken(#fff, 10);
            transition: all .3s ease;
          }
        }
      }
    }
  }
}
@media only screen and (max-width : 1200px) {
  .category_menu {
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
    .menu_wrap {
      padding-right: 10px;
      padding-left: 10px;
      display: block;
      //position: relative;
      top: 0;
      left: 0;
      width: 99%;
      z-index: 10;
      box-sizing: border-box;

      .item_cont {
        position: relative;
        display: none;
        opacity: 1;
        border: none;
        box-shadow: none;
        transition: height .5s;
        z-index: 10;

        &.active {
          transition: height .5s;
        }
      }
      .menu_item {
        float: none;
        margin-bottom: 5px;
      }
      .item_link {
        padding: 7px;
        margin-left: 0;
        width: 100%;
        font-family: "Verdana", sans-serif;
        text-align: center;
        color: #32628B;
        text-shadow: none;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #d0e7f9;
        box-sizing: border-box;

        &:hover {
          color: inherit;
          background-color: darken(#fff, 10);
          transition: all .3s ease;
        }
      }
    }
  }
}

