html {
  width: 100%;
  height: 100%; }

body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  font-family: 'Droid Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1;
  font-weight: 400; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

button {
  display: block;
  padding: 0;
  border: none; }

input {
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper {
  min-height: 100%;
  min-width: 360px;
  overflow: hidden;
  position: relative; }

.container {
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

#back_to_top {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 35px;
  height: 35px;
  text-align: center;
  background-color: #333;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 99;
  cursor: pointer; }
  #back_to_top:hover {
    background-color: #5CC7D2; }
  #back_to_top .back_to_top__icon {
    font-size: 25px;
    line-height: 30px;
    color: #fff; }

.button__close, .forms .forms__close, .header__menu .menu__button-hide {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 15px;
  height: 15px;
  background: url("../img/cancel.svg") no-repeat;
  background-size: contain;
  cursor: pointer; }

.forms {
  display: none;
  position: fixed;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 40; }
  .forms .forms__close {
    display: none;
    z-index: 40; }

.login__form, .register__form {
  display: none;
  padding: 40px 40px 55px;
  width: 500px;
  text-align: right;
  background-color: #f0f0f0;
  -webkit-border-radius: 10px;
          border-radius: 10px; }
  .login__form.active, .active.register__form {
    display: inline-block; }
  .login__form label, .register__form label {
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 14px;
    text-align: left; }
  .login__form .remembering__checkbox, .register__form .remembering__checkbox {
    display: none; }
  .login__form .remembering__label, .register__form .remembering__label {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 20px;
    cursor: pointer; }
    .login__form .remembering__label input, .register__form .remembering__label input {
      display: none;
      width: auto; }
    .login__form .remembering__label .remembering__checker, .register__form .remembering__label .remembering__checker {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 12px;
      width: 12px;
      border: 1px solid #9d9d9d;
      background-image: none; }
  .login__form .remembering__checkbox:checked + .remembering__label .remembering__checker, .register__form .remembering__checkbox:checked + .remembering__label .remembering__checker {
    background: url("../img/check_mark.svg") no-repeat center;
    background-size: 90%; }
  .login__form input, .register__form input {
    display: block;
    margin-bottom: 30px;
    padding: 10px 20px;
    width: 100%;
    font-size: 12px;
    line-height: 1.6;
    color: #666666;
    border: 1px solid #9d9d9d;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
    .login__form input:focus, .register__form input:focus {
      border-color: rgba(70, 184, 218, 0.6);
      -webkit-box-shadow: 0 0 1px rgba(70, 184, 218, 0.6);
              box-shadow: 0 0 1px rgba(70, 184, 218, 0.6); }
  .login__form .button__submit, .register__form .button__submit {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(51, 51, 51, 0.7);
    -webkit-border-radius: 5px;
            border-radius: 5px; }
    .login__form .button__submit:hover, .register__form .button__submit:hover {
      background-color: #333; }

.register__form .button__submit {
  margin-top: 40px; }

.forms__wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
  .forms__wrapper .forms__row {
    display: table-row; }
    .forms__wrapper .forms__row .forms__cell {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }

.header::after, .header .container::after {
  clear: both;
  content: "";
  display: table; }

.header {
  position: relative;
  background-color: #fcfcfc;
  border-top: 2px solid #fe5252;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); }

.logo__box {
  float: left;
  width: 16.5%;
  height: 100%;
  overflow: hidden; }
  .logo__box .logo {
    display: block; }
  .logo__box .logo__pic {
    display: block;
    width: 100%;
    max-height: 93px; }

.header__box {
  float: right;
  padding-left: 4.5%;
  width: 79%; }

.header__top {
  border-bottom: 1px solid #e7e7e7; }
  .header__top::after {
    clear: both;
    content: "";
    display: table; }

.header__select {
  padding-top: 11px;
  display: block;
  float: left; }
  .header__select span {
    color: #666666; }
  .header__select select {
    margin-left: 5px;
    margin-right: 15px;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("../img/select_arrow_grey.png") no-repeat 85% 50%;
    color: #fe5252;
    cursor: pointer; }

.user__interface {
  float: right;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 12px;
  color: #666666; }
  .user__interface .interface__item {
    display: inline-block;
    margin-left: -4px;
    border-right: 1px solid #666666; }
    .user__interface .interface__item:last-child {
      border: none; }
    .user__interface .interface__item .item__link {
      display: inline-block;
      padding-left: 12px;
      padding-right: 12px;
      -webkit-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s; }
      .user__interface .interface__item .item__link:hover {
        color: #9d9d9d; }

.header__bottom {
  position: relative; }
  .header__bottom::after {
    clear: both;
    content: "";
    display: table; }

.header__buttons {
  float: right;
  padding-top: 12px; }

.basket, .menu__button-show, .basket__amount, .search {
  display: inline-block;
  vertical-align: middle;
  text-align: right; }

.basket, .menu__button-show {
  padding-top: 3px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;
  color: #fcfcfc;
  background: #333 url("../img/cart4.svg") no-repeat center;
  background-size: 70% 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .basket:hover, .menu__button-show:hover {
    background-color: #fe5252; }

.basket__amount {
  color: #666666; }

.basket__amount:before,
.basket__amount:after {
  content: '(';
  display: inline-block; }

.basket__amount:after {
  content: ')'; }

.search {
  height: 30px;
  width: 30px;
  position: relative;
  margin-right: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .search:hover {
    width: auto; }
    .search:hover .search__input {
      padding: 5px 30px 5px 5px;
      width: 150px;
      border: 1px solid #9d9d9d; }

.search__submit, .search__input {
  position: absolute;
  height: 100%;
  width: 30px;
  top: 0;
  right: 0;
  border: none;
  background: #333 url("../img/search.svg") no-repeat center;
  background-size: 70% 70%;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .search__submit:hover, .search__input:hover {
    background-color: #fe5252; }

.search__input {
  display: block;
  color: #666666;
  outline: none;
  background: #fff;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .search__input:hover {
    background-color: #fff; }
  .search__input:focus {
    padding: 5px 30px 5px 5px;
    width: 150px;
    border: 1px solid #9d9d9d; }
  .search__input::-webkit-input-placeholder {
    color: #666666; }
  .search__input::-moz-placeholder {
    color: #666666; }
  .search__input:-moz-placeholder {
    color: #666666; }
  .search__input:-ms-input-placeholder {
    color: #666666; }

.header__menu {
  display: inline-block;
  float: left;
  padding-top: 20px;
  padding-bottom: 15px; }
  .header__menu .menu__item {
    display: inline-block;
    margin-left: -4px;
    text-transform: uppercase;
    font-size: 0;
    color: #4b4b4b; }
    .header__menu .menu__item.active, .header__menu .menu__item:hover {
      color: #fe5252; }
  .header__menu .menu__button-hide {
    display: none; }

.menu__link {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  font-weight: bold; }

.menu__button-show {
  display: none;
  cursor: pointer;
  background: #333 url("../img/menu_button.svg") no-repeat center;
  background-size: 65% 65%; }
  .menu__button-show:hover {
    background-color: #fe5252; }

.breadcrumbs {
  display: block;
  width: 100%;
  background-color: #f4f4f4;
  border-bottom: 1px solid #eaeaea; }

.breadcrumbs__list {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px; }

.breadcrumbs__item {
  position: relative;
  display: inline-block;
  padding-left: 6px;
  padding-right: 12px;
  text-transform: uppercase;
  font-size: 13px;
  color: #666666; }
  .breadcrumbs__item.active, .breadcrumbs__item:hover {
    color: #fe5252; }
  .breadcrumbs__item::after {
    position: absolute;
    content: '';
    display: inline-block;
    top: 2px;
    right: 0;
    width: 5px;
    height: 9px;
    background: url("../img/divider.jpg") no-repeat center; }
  .breadcrumbs__item:last-child::after {
    display: none; }

.main__section .container {
  padding-top: 30px;
  padding-bottom: 30px; }
  .main__section .container::after {
    clear: both;
    content: "";
    display: table; }

.sidebar {
  margin-top: 10px;
  padding-right: 50px;
  display: block;
  float: left;
  width: 25.5%;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .sidebar .sidebar__btn {
    display: none; }
  .sidebar .header__select,
  .sidebar .content-sorting {
    display: none; }
  .sidebar .categories__title,
  .sidebar .price_range__title,
  .sidebar .best_seller__title {
    margin: 0 0 8px;
    padding-bottom: 10px;
    font-size: 13px;
    text-transform: uppercase;
    color: #4b4b4b;
    border-bottom: 1px solid #f0f0f0; }
  .sidebar .categories__list,
  .sidebar .price_range__list {
    padding-top: 18px;
    margin-bottom: 35px; }
    .sidebar .categories__list .list__item,
    .sidebar .price_range__list .list__item {
      position: relative;
      margin-bottom: 12px;
      font-size: 12px;
      color: #9d9d9d;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .sidebar .categories__list .list__item a,
      .sidebar .price_range__list .list__item a {
        display: inline-block;
        padding: 2px 5px 2px 10px;
        color: #666666; }
      .sidebar .categories__list .list__item:hover, .sidebar .categories__list .list__item.active,
      .sidebar .price_range__list .list__item:hover,
      .sidebar .price_range__list .list__item.active {
        color: #fe5252; }
        .sidebar .categories__list .list__item:hover a, .sidebar .categories__list .list__item.active a,
        .sidebar .price_range__list .list__item:hover a,
        .sidebar .price_range__list .list__item.active a {
          color: inherit; }
      .sidebar .categories__list .list__item.active,
      .sidebar .price_range__list .list__item.active {
        margin-left: 5px; }
      .sidebar .categories__list .list__item .list__style,
      .sidebar .price_range__list .list__item .list__style {
        position: absolute;
        margin-top: -2px;
        left: 0;
        top: 50%;
        font-size: 4px; }
  .sidebar .best_seller__item {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    border-bottom: 1px dashed #f0f0f0; }
    .sidebar .best_seller__item::after {
      clear: both;
      content: "";
      display: table; }
    .sidebar .best_seller__item:last-child {
      border-bottom: none; }
  .sidebar .item__thumb {
    float: left;
    width: 30%;
    overflow: hidden;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .sidebar .item__thumb .item__img {
      width: 100%;
      height: auto;
      margin: 0 auto; }
  .sidebar .item__descr {
    padding-top: 3px;
    padding-left: 12px;
    float: left;
    width: 70%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .sidebar .item__title {
    display: block;
    margin-bottom: 4px;
    font-size: 11px;
    text-transform: capitalize;
    color: #666666;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; }
    .sidebar .item__title:hover {
      color: #9d9d9d; }
  .sidebar .item__rate {
    margin-bottom: 10px; }
    .sidebar .item__rate .rate__ic {
      margin-right: 0;
      height: 10px;
      width: 63px; }
  .sidebar .item__price {
    font-size: 13px;
    color: #fe5252; }
  .sidebar .content__item {
    position: relative;
    margin-top: 18px;
    height: auto; }
    .sidebar .content__item .item__button {
      position: absolute;
      display: inline-block;
      margin-left: -38px;
      left: 50%;
      bottom: 10%;
      width: 76px;
      height: 31px;
      line-height: 31px;
      text-align: center;
      color: #fcfcfc;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
      background-color: #fe5252;
      -webkit-border-radius: 1px;
      border-radius: 1px; }

.rate__ic {
  display: inline-block;
  margin-right: 5px;
  width: 75px;
  height: 12px;
  vertical-align: middle;
  background: url("../img/star_empty_2.svg") repeat-x; }
  .rate__ic .rate__ic-filled {
    height: 100%;
    background: url("../img/star_fill_2.svg") repeat-x; }

.main__content {
  float: left;
  width: 74.5%; }

.content__controls {
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #f0f0f0; }
  .content__controls::after {
    clear: both;
    content: "";
    display: table; }

.content__controls-bottom {
  padding-top: 10px;
  text-align: center;
  border-top: 1px solid #f0f0f0; }
  .content__controls-bottom::after {
    clear: both;
    content: "";
    display: table; }

.content_view__switch {
  margin-top: 8px;
  float: left; }
  .content_view__switch .switch__grid, .content_view__switch .switch__list {
    display: inline-block;
    margin-right: 8px;
    width: 20px;
    height: 12px;
    background: url("../img/grid_grey.png") no-repeat 0 0;
    cursor: pointer; }
    .content_view__switch .switch__grid.active, .content_view__switch .active.switch__list {
      background-image: url("../img/grid_red.png"); }
  .content_view__switch .switch__list {
    margin-right: 0;
    background-image: url("../img/list_grey.png"); }
    .content_view__switch .switch__list.active {
      background-image: url("../img/list_red.png"); }

.content-sorting {
  display: inline-block; }
  .content-sorting span {
    color: #666666; }
  .content-sorting select {
    margin-left: 5px;
    margin-right: 15px;
    background: transparent;
    border: 1px solid #f0f0f0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("../img/select_arrow_red.png") no-repeat right 5px top 50%;
    cursor: pointer;
    color: #9d9d9d; }

.pagination {
  margin-top: 3px;
  float: right; }
  .pagination .pagination__links, .pagination .pagination__control, .pagination .links__item {
    display: inline-block;
    vertical-align: middle; }
  .pagination .pagination__control-left {
    margin-right: 8px;
    background: url("../img/left_arrow.svg") no-repeat center;
    background-size: 50%; }
  .pagination .pagination__control-right {
    margin-left: 8px;
    background: url("../img/right_arrow.svg") no-repeat center;
    background-size: 50%; }
  .pagination .pagination__control {
    width: 20px;
    height: 20px;
    background-color: #9d9d9d;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .pagination .pagination__control:hover {
      background-color: #fe5252; }
  .pagination .links__item {
    margin-left: -4px;
    color: #9d9d9d; }
    .pagination .links__item.active {
      color: #fe5252; }
    .pagination .links__item a {
      padding: 2px 7px; }

.content__layout-grid {
  padding-top: 20px;
  margin-bottom: 20px;
  width: 100%; }
  .content__layout-grid::after {
    clear: both;
    content: "";
    display: table; }
  .content__layout-grid .layout__item {
    position: relative;
    float: left;
    margin-right: 1.25%;
    margin-bottom: 20px;
    width: 32.5%; }
    .content__layout-grid .layout__item:nth-child(3n) {
      margin-right: 0; }
    .content__layout-grid .layout__item:hover .item__card {
      display: block; }
  .content__layout-grid .item__descr {
    display: none; }
  .content__layout-grid .item__card {
    display: none;
    position: absolute;
    padding: 12px 18px 10px;
    left: 0;
    bottom: -60px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    z-index: 10; }
    .content__layout-grid .item__card .card__label {
      position: absolute;
      top: -53px;
      left: -webkit-calc(50% - 35px);
      left: calc(50% - 35px);
      width: 70px;
      height: 54px;
      font-size: 15px;
      line-height: 60px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      background: transparent url("../img/card_img.png") no-repeat 0 0;
      background-size: contain; }
    .content__layout-grid .item__card .card__top {
      padding-bottom: 8px;
      text-align: center;
      border-bottom: 1px solid #f0f0f0; }
    .content__layout-grid .item__card .item__rate {
      display: inline-block; }
    .content__layout-grid .item__card .card__title {
      display: inline-block;
      margin-bottom: 8px;
      font-size: 12px;
      text-transform: uppercase;
      color: #666666;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .content__layout-grid .item__card .card__title:hover {
        color: #9d9d9d; }
    .content__layout-grid .item__card .card__links {
      padding-top: 10px;
      font-size: 10px;
      color: #9d9d9d; }
      .content__layout-grid .item__card .card__links .link__list::after {
        clear: both;
        content: "";
        display: table; }
      .content__layout-grid .item__card .card__links .link__item {
        display: block; }
        .content__layout-grid .item__card .card__links .link__item a:hover {
          color: #fe5252; }
      .content__layout-grid .item__card .card__links .item__cart {
        width: 50%;
        float: left;
        border-right: 1px solid #f0f0f0; }
        .content__layout-grid .item__card .card__links .item__cart .cart {
          display: inline-block;
          padding-left: 35px;
          height: 25px;
          line-height: 25px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          background: url("../img/cart_ic.png") no-repeat 0 0; }
      .content__layout-grid .item__card .card__links .item__wishlist,
      .content__layout-grid .item__card .card__links .item__compare {
        margin-bottom: 6px; }
        .content__layout-grid .item__card .card__links .item__wishlist .wishlist,
        .content__layout-grid .item__card .card__links .item__wishlist .compare,
        .content__layout-grid .item__card .card__links .item__compare .wishlist,
        .content__layout-grid .item__card .card__links .item__compare .compare {
          padding-left: 10px; }
        .content__layout-grid .item__card .card__links .item__wishlist span,
        .content__layout-grid .item__card .card__links .item__compare span {
          margin-right: 3px;
          color: #fe5252; }

.content__layout-list {
  padding-top: 25px;
  margin-bottom: 0; }
  .content__layout-list .item__card {
    display: none; }
  .content__layout-list .layout__item {
    float: none;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 0;
    width: 100%;
    border-top: 1px dashed #f0f0f0; }
    .content__layout-list .layout__item::after {
      clear: both;
      content: "";
      display: table; }
    .content__layout-list .layout__item:nth-child(n+5) {
      display: none; }
    .content__layout-list .layout__item:first-child {
      padding-top: 0;
      border: 0; }
  .content__layout-list .content__item {
    position: relative;
    display: block;
    float: left;
    width: 27%;
    height: auto;
    overflow: hidden;
    border: 4px solid #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .content__layout-list .content__item:hover {
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
    .content__layout-list .content__item .item__img {
      width: 100%;
      height: auto;
      margin: 0 auto; }
  .content__layout-list .item__descr {
    display: block;
    padding-top: 8px;
    margin-left: 8%;
    float: left;
    width: 65%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .content__layout-list .item__title {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #4b4b4b;
    text-transform: uppercase;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease; }
    .content__layout-list .item__title:hover {
      color: #9d9d9d; }
  .content__layout-list .item__rate {
    margin-bottom: 20px;
    color: #9d9d9d;
    font-size: 10px; }
    .content__layout-list .item__rate .views {
      display: inline-block;
      padding: 5px;
      vertical-align: middle;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .content__layout-list .item__rate .views:hover {
        color: #666666; }
    .content__layout-list .item__rate .view_add {
      display: inline-block;
      padding: 5px;
      vertical-align: middle;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .content__layout-list .item__rate .view_add:hover {
        color: #666666; }
  .content__layout-list .item__text {
    margin-bottom: 20px;
    font-size: 12px;
    color: #666666;
    line-height: 1.9; }
  .content__layout-list .item__baying {
    margin-bottom: 15px;
    color: #fe5252; }
    .content__layout-list .item__baying .discount {
      display: inline-block;
      margin-right: 3px;
      font-size: 20px;
      color: #666666;
      text-decoration: line-through;
      vertical-align: middle; }
    .content__layout-list .item__baying .price {
      display: inline-block;
      padding-right: 20px;
      font-size: 25px;
      vertical-align: middle;
      border-right: 1px solid #9d9d9d; }
    .content__layout-list .item__baying .cart {
      display: inline-block;
      margin-left: 20px;
      padding-left: 35px;
      padding-right: 7px;
      font-size: 11px;
      line-height: 25px;
      color: #9d9d9d;
      vertical-align: middle;
      background: url("../img/cart_ic.png") no-repeat 0 0;
      background-size: contain;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .content__layout-list .item__baying .cart:hover {
        color: #666666; }
  .content__layout-list .item__events {
    padding-top: 14px;
    padding-right: 20px;
    border-top: 1px dashed #f0f0f0;
    color: #9d9d9d; }
    .content__layout-list .item__events .list__item {
      display: inline-block;
      margin-right: 35px; }
      .content__layout-list .item__events .list__item:last-child {
        margin-right: 0; }
      .content__layout-list .item__events .list__item .item__link {
        padding: 5px;
        display: inline-block;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        .content__layout-list .item__events .list__item .item__link:hover {
          color: #666666; }
      .content__layout-list .item__events .list__item .link__text {
        display: inline-block;
        padding-left: 5px; }

.content__item {
  position: relative;
  display: block;
  width: 100%;
  height: 290px;
  overflow: hidden;
  border: 4px solid #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .content__item:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
  .content__item .sale_icon {
    position: absolute;
    display: block;
    left: -2px;
    top: -2px;
    width: 83px;
    height: 66px; }
  .content__item .item__img {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .content__item .item__card {
    position: absolute;
    top: 0;
    left: 0; }

.empty {
  height: 273px; }

.footer {
  position: relative;
  margin-top: -273px;
  height: 273px;
  border-top: 1px solid #e3e3e3; }
  .footer .footer__top-button {
    display: none;
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #efefef;
    border-bottom: 1px solid #e3e3e3;
    cursor: pointer; }
    .footer .footer__top-button:hover {
      background-color: #9d9d9d; }
    .footer .footer__top-button .button__ic {
      display: inline-block;
      width: 15px; }
  .footer .footer__top {
    padding-top: 30px;
    padding-bottom: 40px;
    width: 100%;
    background-color: #efefef; }
    .footer .footer__top::after {
      clear: both;
      content: "";
      display: table; }
  .footer .footer__bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #292929; }
    .footer .footer__bottom .container::after {
      clear: both;
      content: "";
      display: table; }
  .footer .layout__item {
    margin-right: 2.5%;
    width: 18%;
    float: left; }
    .footer .layout__item:last-child {
      margin-right: 0; }

.footer__item {
  font-size: 11px;
  color: #666666; }
  .footer__item .item__title {
    margin: 0;
    padding-bottom: 11px;
    font-size: 15px;
    text-transform: uppercase;
    color: #4b4b4b;
    border-bottom: 1px solid #dcdcdc;
    -webkit-box-shadow: 0 1px #fff;
            box-shadow: 0 1px #fff; }
  .footer__item .footer__list {
    display: inline-block;
    padding-top: 20px;
    padding-left: 12px; }
  .footer__item .list__item {
    margin-bottom: 7px;
    list-style-type: square;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .footer__item .list__item:hover, .footer__item .list__item.active {
      margin-left: 5px;
      color: #fe5252; }
    .footer__item .list__item .item__link {
      display: block;
      position: relative;
      padding: 4px;
      font-size: 11px; }

.feedback .feedback__text {
  padding-top: 20px;
  margin-bottom: 20px;
  line-height: 1.6; }

.payment .payment__phone {
  padding-top: 25px;
  margin-bottom: 20px;
  font-size: 13px;
  font-style: italic; }

.payment__cards .cards__item {
  display: inline-block;
  margin-right: 8px;
  width: 32px;
  font-size: 0;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.15); }
  .payment__cards .cards__item:last-child {
    margin-right: 0; }
  .payment__cards .cards__item .item__img {
    width: 100%;
    height: auto;
    margin: 0 auto; }

.footer__form {
  position: relative;
  display: inline-block;
  max-width: 100%; }
  .footer__form .email__input {
    padding: 6px 8px 5px;
    width: 160px;
    max-width: 100%;
    height: 23px;
    color: #666666;
    font-size: 11px;
    border: none;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .footer__form .email__input::-webkit-input-placeholder {
      font-size: 11px;
      color: #9d9d9d; }
    .footer__form .email__input::-moz-placeholder {
      font-size: 11px;
      color: #9d9d9d; }
    .footer__form .email__input:-moz-placeholder {
      font-size: 11px;
      color: #9d9d9d; }
    .footer__form .email__input:-ms-input-placeholder {
      font-size: 11px;
      color: #9d9d9d; }
    .footer__form .email__input:focus {
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 3px rgba(0, 0, 0, 0.35); }
  .footer__form .email__submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 23px;
    border: none;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    background: #fe5252;
    cursor: pointer; }

.footer__copyright {
  float: left;
  line-height: 1.6;
  color: #9d9d9d; }
  .footer__copyright span {
    color: #fe5252; }

.footer__social {
  float: right; }
  .footer__social .social__item {
    margin-right: 15px;
    display: inline-block;
    font-size: 0;
    margin-left: -3px; }
    .footer__social .social__item:last-child {
      margin-right: 0; }
  .footer__social .social__link {
    display: inline-block;
    width: 25px;
    height: 18px;
    font-size: 0;
    background: url("../img/fb_ic.svg") no-repeat center;
    background-size: contain;
    -webkit-transition: all 2s ease;
    transition: all 2s ease; }
    .footer__social .social__link.link__fb {
      background-image: url("../img/fb_ic_red.svg"); }
      .footer__social .social__link.link__fb:hover {
        background-image: url("../img/fb_ic.svg"); }
    .footer__social .social__link.link__tw {
      background-image: url("../img/tw_ic_red.svg"); }
      .footer__social .social__link.link__tw:hover {
        background-image: url("../img/tw_ic.svg"); }
    .footer__social .social__link.link__ldn {
      background-image: url("../img/linkedin_ic_red.svg"); }
      .footer__social .social__link.link__ldn:hover {
        background-image: url("../img/linkedin_ic.svg"); }
    .footer__social .social__link.link__rss {
      background-image: url("../img/rss_ic_red.svg"); }
      .footer__social .social__link.link__rss:hover {
        background-image: url("../img/rss_ic.svg"); }
    .footer__social .social__link.link__dribble {
      background-image: url("../img/dribbble_ic_red.svg"); }
      .footer__social .social__link.link__dribble:hover {
        background-image: url("../img/dribbble_ic.svg"); }
