
@font-face {
  font-family: 'QuenteScript-Bold';
  src: url('QuenteScript-Bold.eot?#iefix') format('embedded-opentype'),  url('QuenteScript-Bold.woff') format('woff'), url('QuenteScript-Bold.ttf')  format('truetype'), url('QuenteScript-Bold.svg#QuenteScript-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
