html, body {
  background-color: #373737; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clear {
  display: block;
  clear: both;
  height: 0; }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: '';
  display: table; }

.clearfix:after,
.container:after,
.row:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  display: none; }

.inner {
  padding: 0 15px;
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 1170px;
  margin: 0 auto; }

#container {
  width: 100%;
  margin: 0 auto;
  font: 15px "Open Sans", sans-serif;
  font-weight: 400;
  color: #fff; }

#container a {
  cursor: pointer; }

#container img {
  vertical-align: bottom; }

#header {
  min-height: 76px;
  background-color: #fff; }

#header .right {
  padding-top: 30px; }

#header a.logo {
  display: block;
  float: left;
  width: 108px;
  height: 77px;
  margin-left: -8px;
  background: url(../img/logo.png) no-repeat; }

#header a.trigger {
  display: none;
  float: right;
  width: 48px;
  height: 48px;
  margin: 16px 12px 0 0;
  background: url(../img/bt-trigger.png) no-repeat; }

#menuMain {
  font-size: 15px;
  text-transform: uppercase; }

#menuMain ul li {
  display: inline-block;
  padding-right: 22px; }

#menuMain ul li:last-child {
  padding-right: 0; }

#menuMain ul li a {
  text-decoration: none;
  color: #242021; }

.first {
  min-height: 490px;
  background: url(../img/bg1.jpg) center no-repeat;
  background-size: cover; }

.first p.caption {
  padding-top: 8px;
  font-size: 37px;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #fff; }

.first p.caption span {
  border-bottom: 1px solid #fff;
  white-space: nowrap; }

.s_title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase; }

.keys {
  position: relative;
  color: #444;
  background-color: #fff; }
  .keys .s_title {
    margin-bottom: 25px; }
  .keys .element {
    margin-bottom: 25px;
    font-weight: 300;
    line-height: 24px; }
    .keys .element .title {
      margin-bottom: 5px;
      font-size: 22px;
      font-weight: 700; }

.keys-2 .s_title {
  position: relative;
  top: -30px;
  -webkit-transform: rotate(-4.8deg);
      -ms-transform: rotate(-4.8deg);
          transform: rotate(-4.8deg);
  z-index: 10; }

.keys-2 .top {
  position: absolute;
  width: 100%;
  height: 115px;
  top: -115px;
  background: url("../img/bg-angle7.png") no-repeat;
  background-size: 100% 100%;
  z-index: 5; }

.keys-2 .element .title {
  margin-bottom: 20px; }

.monetize-everything {
  text-align: center;
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #444545; }
  .monetize-everything .top {
    position: absolute;
    width: 100%;
    height: 78px;
    top: -78px;
    background: url("../img/bg-angle9.png") no-repeat;
    background-size: 100% 100%;
    z-index: 5; }
  .monetize-everything .bottom {
    position: absolute;
    width: 100%;
    height: 78px;
    bottom: -78px;
    background: url("../img/bg-angle8.png") no-repeat;
    background-size: 100% 100%;
    z-index: 5; }
  .monetize-everything .s_title {
    margin-bottom: 15px;
    text-align: center; }
  .monetize-everything .elements {
    width: 1030px;
    margin: 0 auto; }
  .monetize-everything .element {
    margin-top: 33px;
    display: inline-block;
    line-height: 18px;
    width: 32%;
    padding: 0 38px;
    vertical-align: top;
    text-align: left;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto; }
    .monetize-everything .element .image {
      margin-bottom: 40px;
      height: 133px;
      line-height: 133px;
      width: 100%;
      text-align: center; }
      .monetize-everything .element .image img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        vertical-align: middle !important; }
    .monetize-everything .element .title {
      position: relative;
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 27px;
      font-weight: 400;
      text-transform: uppercase; }
      .monetize-everything .element .title:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -15px;
        width: 100px;
        height: 1px;
        background-color: #FF6600; }

.browse-performing {
  position: relative;
  padding-top: 110px;
  text-align: center;
  background-color: #515151; }
  .browse-performing .bottom {
    position: absolute;
    width: 100%;
    height: 78px;
    bottom: -78px;
    background: url("../img/bg-angle11.png") no-repeat;
    background-size: 100% 100%;
    z-index: 5; }
  .browse-performing .s_title {
    margin-bottom: 15px; }
  .browse-performing .title_caption {
    margin-bottom: 50px; }
  .browse-performing .elements {
    margin-top: 37px;
    margin-left: 100px;
    width: 1000px;
    max-width: 100%; }
  .browse-performing .element {
    display: table;
    width: 100%;
    border-spacing: 50px 0;
    text-align: left; }
    .browse-performing .element .image {
      display: table-cell;
      width: 40%;
      text-align: center;
      vertical-align: middle; }
      .browse-performing .element .image img {
        max-width: 100%; }
    .browse-performing .element .description {
      display: table-cell;
      width: 54.5%;
      line-height: 24px; }
      .browse-performing .element .description .title {
        margin-bottom: 45px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2; }
    .browse-performing .element .accent {
      color: #FF6600;
      text-decoration: none; }
      .browse-performing .element .accent:hover {
        text-decoration: underline; }
    .browse-performing .element .bold {
      font-weight: 700; }
  .browse-performing .tabs {
    padding-left: 100px; }
    .browse-performing .tabs li {
      float: left;
      font-size: 21px;
      line-height: 60px;
      text-transform: uppercase; }
      .browse-performing .tabs li.active {
        color: #FF6600; }
        .browse-performing .tabs li.active a:after {
          height: 2px;
          background-color: #FF6600; }
      .browse-performing .tabs li:hover {
        color: #FF6600; }
        .browse-performing .tabs li:hover a:after {
          height: 2px;
          background-color: #FF6600; }
      .browse-performing .tabs li a {
        position: relative;
        padding: 0 30px;
        display: block;
        color: inherit;
        cursor: pointer;
        text-decoration: none; }
      .browse-performing .tabs li a:after {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #afafaf; }
  .browse-performing .tab-content {
    display: none; }
  .browse-performing .tab-content.active {
    display: block; }

.key-to-success {
  padding-top: 110px;
  padding-bottom: 110px;
  text-align: center;
  background-color: #FF6600; }
  .key-to-success .s_title {
    margin-bottom: 15px; }
  .key-to-success .elements {
    padding-top: 50px;
    width: 1030px;
    margin: 0 auto; }
  .key-to-success .element {
    margin-top: 33px;
    display: inline-block;
    line-height: 18px;
    width: 32%;
    padding: 0 38px;
    vertical-align: top; }
    .key-to-success .element .image {
      margin: 0 auto 30px;
      height: 156px;
      width: 156px;
      line-height: 151px;
      text-align: center;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #fff; }
      .key-to-success .element .image img {
        max-height: 65%;
        max-width: 65%;
        width: auto;
        vertical-align: middle !important; }
    .key-to-success .element .title {
      position: relative;
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 27px;
      font-weight: 400;
      text-transform: uppercase; }
      .key-to-success .element .title:after {
        position: absolute;
        content: '';
        left: -webkit-calc( 50% - 50px);
        left: calc( 50% - 50px);
        bottom: -15px;
        width: 100px;
        height: 1px;
        background-color: black; }

.contact {
  height: 327px;
  background: url(../img/bg-contact.jpg) center top no-repeat; }

.contact .inner {
  padding-top: 55px; }

.contact p.caption {
  position: absolute;
  right: 0;
  top: 48px;
  height: 228px;
  padding: 58px 0 0 110px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/bg-contact-caption.png) left center no-repeat;
  font-size: 72px;
  font-weight: bold;
  color: #fffefe; }

.contact form {
  width: 600px;
  margin-left: 5%; }

.contact form input.txt {
  width: 48%;
  margin-bottom: 20px;
  padding: 6px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid transparent;
  background-color: #373737;
  font: 24px "Open Sans", sans-serif;
  font-weight: 400;
  color: #686868; }

.contact form input.invalid {
  border-color: red; }

.contact form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 6px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: #373737;
  font: 24px "Open Sans", sans-serif;
  font-weight: 400;
  color: #686868;
  resize: none; }

.contact form input.btn {
  width: 100%;
  margin-bottom: 20px;
  padding: 6px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: #ff9000;
  font: 24px "Open Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  cursor: pointer; }

#footer {
  font-size: 14px;
  text-align: center;
  color: #515151; }

#footer .inner {
  padding: 10px 0; }

/* ----- Hover effects are enabled only for Desktop version ----- */
@media screen and (min-width: 1024px) {
  #menuMain ul li a:hover {
    color: #f60;
    text-decoration: underline;
    -webkit-transition: color .1s ease;
    transition: color .1s ease; }
  .contact form input.btn:hover {
    background-color: #ffba61; } }

@media screen and (max-width: 1224px) {
  #header .left {
    float: none; }
  #header .right {
    float: none;
    padding: 0; }
  #header a.trigger {
    display: block; }
  #menuMain {
    padding: 0;
    border-bottom: none;
    font-size: 16px; }
  #menuMain ul {
    display: none; }
  #menuMain ul li {
    display: block;
    padding: 0;
    border-top: 1px solid #eee; }
  #menuMain ul li a {
    display: block;
    padding: 8px 0;
    text-align: center; }
  .monetize-everything .elements, .key-to-success .elements {
    width: 100%; }
  .browse-performing {
    padding-bottom: 95px;
    text-align: center; }
    .browse-performing .elements {
      margin-left: 0; }
    .browse-performing .s_title {
      text-align: center;
      height: auto; }
    .browse-performing .tabs {
      display: inline-block;
      padding-left: 0; }
  .contact p.caption {
    right: 15px;
    padding-top: 72px;
    font-size: 56px; }
  .contact form {
    padding-left: 0; } }

@media screen and (max-width: 1024px) {
  #header .left {
    padding-left: 4px; }
  #header .right {
    padding-right: 12px; }
  #header a.logo {
    margin-left: 0; }
  .first p.caption {
    padding-left: 12px; }
  .keys {
    padding-top: 50px;
    padding-bottom: 50px; }
    .keys .s_title {
      top: auto; }
  .keys .s_title, .monetize-everything .s_title, .browse-performing .s_title {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .keys .top, .monetize-everything .top, .browse-performing .top {
    display: none; }
  .keys .bottom, .monetize-everything .bottom, .browse-performing .bottom {
    display: none; }
  .monetize-everything, .key-to-success, .browse-performing {
    padding-top: 50px;
    padding-bottom: 50px; }
  .browse-performing .tabs li {
    font-size: 16px; }
    .browse-performing .tabs li a {
      padding: 0 15px; }
  .contact {
    text-align: center; }
  .contact .inner {
    padding-top: 20px; }
  .contact p.caption {
    position: static;
    height: auto;
    padding: 0 0 10px;
    background: none;
    font-size: 50px; }
  .contact form {
    width: auto;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px; } }

@media screen and (max-width: 924px) {
  #menuMain {
    font-size: 14px; }
  .first {
    min-height: 250px;
    text-align: center; }
  .first .inner {
    display: table;
    width: 100%; }
  .first p.caption {
    display: table-cell;
    height: 140px;
    padding-top: 0;
    vertical-align: middle; }
  .monetize-everything .element {
    width: 49%; }
    .monetize-everything .element .image {
      height: 110px; }
  .browse-performing .element .image {
    width: 50%; }
  .browse-performing .element .description {
    width: 50%; }
  .key-to-success .element {
    width: 49%; }
    .key-to-success .element .image {
      margin-bottom: 25px;
      width: 110px;
      height: 110px;
      line-height: 107px; } }

@media screen and (max-width: 724px) {
  .first p.caption {
    font-size: 30px; }
  .s_title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase; }
  .browse-performing .element {
    display: block;
    display: none; }
    .browse-performing .element .image {
      display: block;
      width: 100%;
      height: 200px; }
      .browse-performing .element .image img {
        max-height: 100%;
        width: auto; }
    .browse-performing .element .description {
      display: block;
      width: 100%; }
      .browse-performing .element .description .title {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 30px; }
  .browse-performing .tabs {
    display: block;
    text-align: center; }
    .browse-performing .tabs li {
      margin-left: -4px;
      display: inline-block;
      float: none;
      line-height: 40px; } }

@media screen and (max-width: 524px) {
  .monetize-everything .element, .key-to-success .element {
    width: 99%; }
  .browse-performing .title_caption {
    margin-bottom: 30px; }
  .contact p.caption {
    font-size: 36px; }
  .contact form input.txt {
    float: none;
    width: 100%;
    margin-bottom: 12px;
    font-size: 18px; }
  .contact form textarea {
    font-size: 18px; } }
