html {
  font-size: 10px; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  background-color: #f7f7f7;
  overflow-x: hidden; }

.hidden {
  display: none; }

/**********ANIMATION*********/
.my-animation {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in; }

@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }

.fade-in-down {
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down; }

/*********** HEADER ************/
section,
.main_head {
  position: relative; }

.main_head {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: url("../img/header_bg_5.jpg") no-repeat center;
  background-size: cover; }
  .main_head .footer_scroll {
    -webkit-animation-delay: .5s;
    animation-delay: .5s; }

.navigation_wrap {
  padding-left: 65px;
  padding-right: 65px; }

.navigation {
  padding-bottom: 3.4rem;
  padding-top: 3.4rem;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  z-index: 100;
  border-bottom: 1px solid #f3f3f3; }

.s_about .navigation,
.s_contacts .navigation {
  border-bottom: 1px solid #bebebe; }

.s_about .navigation {
  margin-bottom: 7.5rem; }

.navigation ul,
.navigation li,
.social_wrap ul,
.social_wrap li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.navigation li {
  padding-left: 2rem;
  padding-right: 2rem;
  display: inline-block;
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-transform: uppercase; }

.navigation a {
  color: #f3f3f3; }

.navigation a:hover,
.navigation a:focus {
  color: #bebebe; }

.s_about .navigation a,
.s_contacts .navigation a {
  color: #bebebe; }

.s_about .navigation a:hover,
.s_about .navigation a:focus,
.s_contacts .navigation a:hover,
.s_contacts .navigation a:focus {
  color: #333; }

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }

.top_wrapper .top_descr,
.contacts_wrapper .contacts_descr {
  display: table-row; }

.top_wrapper .top_descr .top_centered,
.contacts_wrapper .contacts_descr .contacts_centered {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.top_wrapper .top_text {
  display: inline-block;
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.top_wrapper .top_text h1 {
  display: inline-block;
  color: #f3f3f3;
  font-family: 'lato', sans-serif;
  text-transform: uppercase;
  font-size: 4.5rem;
  line-height: 2;
  margin: 20px 0; }

.footer_scroll {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #f3f3f3;
  z-index: 50; }

.footer_scroll p {
  display: inline-block;
  font-family: 'lato', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase; }

.scroll_icon {
  margin-bottom: 20px;
  font-size: 4rem; }

.scroll_icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../img/chevron_white.svg") no-repeat; }

.scroll_icon a:hover {
  background-image: url("../img/chevron_grey.svg");
  color: #bebebe; }

@media only screen and (max-width: 992px) {
  .main_head .navigation li {
    font-size: 2.5rem; } }

@media only screen and (max-width: 768px) {
  .main_head .navigation li {
    padding-left: 1.1rem;
    padding-right: 1.1rem; } }

@media only screen and (max-width: 480px) {
  .main_head .navigation {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .main_head .navigation li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.2rem; }
  .logo_container,
  .top_wrapper .top_text {
    margin-top: -50px; }
  .top_wrapper .top_text h1 {
    font-size: 3rem; } }

/*********** FONTS ************/
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v13-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/open-sans-v13-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v13-latin-300.woff2") format("woff2"), url("../fonts/open-sans-v13-latin-300.woff") format("woff"), url("../fonts/open-sans-v13-latin-300.ttf") format("truetype"), url("../fonts/open-sans-v13-latin-300.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin-regular.woff2") format("woff2"), url("../fonts/lato-v11-latin-regular.woff") format("woff"), url("../fonts/lato-v11-latin-regular.ttf") format("truetype"), url("../fonts/lato-v11-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }
