/************** ABOUT ME ***************/
.s_about {
  padding-bottom: 20rem;
  background-color: #f3f3f3;
  z-index: 10; }

.about_me .about_foto {
  position: relative;
  padding-right: 2.5rem; }

.about_me .about_text {
  padding-left: 2.5rem; }

.about_text h1, .portfolio_title h1 {
  font-size: 5rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase; }

.about_text h1 {
  line-height: 5rem; }

.about_text p {
  font-size: 2rem; }

.about_text .signature {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.2rem; }

.about_foto img {
  width: 100%;
  height: auto; }

.about_foto::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.s_about .footer_scroll {
  color: #bebebe; }

.s_about .scroll_icon a {
  background-image: url("../img/chevron_grey.svg"); }
  .s_about .scroll_icon a:hover {
    background-image: url("../img/chevron_dark.svg"); }

/*************** PORTFOLIO ***************/
.s_portfolio {
  padding-bottom: 20rem;
  min-height: 800px; }

.portfolio_wrap {
  padding-left: 75px;
  padding-right: 75px; }

.portfolio_row ul, .portfolio_row li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  z-index: 999; }

.portfolio_row ul {
  position: relative;
  z-index: 101; }

#portfolio_grid {
  position: relative;
  z-index: 101; }

.portfolio_row li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: #bebebe;
  cursor: pointer; }

.portfolio_row ul {
  margin-bottom: 50px; }

.portfolio_title {
  padding-top: 7rem;
  padding-bottom: 4rem;
  z-index: 90; }
  .portfolio_title h1 {
    margin: 0;
    text-align: center;
    color: #f3f3f3; }

.portfolio_item {
  margin-bottom: 30px;
  display: none;
  z-index: 99; }
  .portfolio_item img {
    width: 100%; }

/************** CONTACTS ***************/
.s_contacts {
  min-height: 690px;
  background-color: #f3f3f3;
  z-index: 10; }

.contacts_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
  .contacts_wrapper .contacts_content {
    display: inline-block;
    font-family: 'Open Sans', sans-serif; }

.contacts_content .my_mail, .contacts_content .my_phone {
  margin-bottom: 4rem; }

.contacts_content p {
  margin-bottom: 2rem;
  font-size: 2.1rem;
  text-transform: uppercase; }

.contacts_content a {
  color: #333; }

.contacts_content .my_mail a {
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-transform: uppercase;
  color: #333; }

.contacts_content .my_phone span {
  font-size: 3.6rem;
  line-height: 4.8rem; }

.contacts_content a:hover, .contacts_content a:focus {
  color: #bebebe; }

.social_wrap li, .social_wrap a {
  display: inline-block; }

.social_wrap li {
  margin-right: 2.5rem; }
  .social_wrap li:last-child {
    margin-right: 0; }

.social_wrap a {
  font-size: 3rem;
  line-height: 5.1rem;
  width: 5.7rem;
  height: 5.7rem;
  text-align: center;
  border: 2px solid #333333;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .social_wrap a:hover, .social_wrap a:focus {
    border-color: #bebebe; }

/*********** FOOTER *************/
.main_footer {
  padding-left: 65px;
  padding-right: 65px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #f3f3f3;
  z-index: 15; }
  .main_footer .footer_wrap {
    text-align: center;
    border-top: 1px solid #bebebe; }

.main_footer_text {
  font-size: 1.4rem;
  line-height: 100px;
  font-family: 'lato', sans-serif;
  text-transform: uppercase;
  color: #bebebe; }

/*********** PICTURES *************/
/*********** MEDIA QUERIES *************/
/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1600px) {
  html {
    font-size: 9px; }
  /*.s_about .about_text h1 {*/
  /*margin-top: 0;*/
  /*}*/ }

@media only screen and (max-width: 1366px) {
  html {
    font-size: 8px; }
  .footer_scroll p, .portfolio_row li, .main_footer_text {
    font-size: 1.6rem; }
  .about_text p {
    font-size: 2.2rem; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  html {
    font-size: 7px; }
  .footer_scroll p, .portfolio_row li, .main_footer_text {
    font-size: 2rem; }
  .footer_scroll p {
    font-size: 1.8rem; }
  .about_text p {
    font-size: 2.4rem; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .s_about .navigation li, .s_portfolio .navigation li, .s_contacts .navigation li {
    font-size: 2.5rem; }
  .about_text h1 {
    font-size: 4rem;
    line-height: 4rem; }
  .about_text p {
    font-size: 2.2rem; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; }
  #portfolio_grid {
    text-align: center; }
  .s_about .navigation li, .s_portfolio .navigation li, .s_contacts .navigation li {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    /*font-size: 2.4rem;*/
    /*line-height: 2.4rem;*/ }
  .portfolio_wrap {
    padding-left: 25px;
    padding-right: 25px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .s_about .navigation, .s_portfolio .navigation, .s_contacts .navigation {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .s_about .navigation li, .s_portfolio .navigation li, .s_contacts .navigation li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.2rem; }
  .portfolio_row li {
    font-size: 1.2rem; }
  .s_about .navigation {
    margin-bottom: 3.5rem; }
  .portfolio_title {
    padding-top: 4rem;
    padding-bottom: 2rem; }
    .portfolio_title h1 {
      font-size: 4rem; }
  .portfolio_row ul {
    margin-bottom: 30px; }
  .contacts_content p {
    font-size: 1.8rem; }
  .contacts_content .my_mail a {
    font-size: 3.5rem;
    line-height: 3.5rem; }
  .contacts_content .my_phone span {
    font-size: 2.8rem;
    line-height: 3.5rem; }
  .s_contacts {
    min-height: 480px; }
  .main_footer {
    height: 50px; }
  .main_footer_text {
    font-size: 1.2rem;
    line-height: 45px; } }

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/* Large Devices, Wide Screens */
/* iPad 3&4, Retina */
/****** For Internet Explorer ******/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; } }

/*********** FONTS ************/
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v13-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/open-sans-v13-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v13-latin-300.woff2") format("woff2"), url("../fonts/open-sans-v13-latin-300.woff") format("woff"), url("../fonts/open-sans-v13-latin-300.ttf") format("truetype"), url("../fonts/open-sans-v13-latin-300.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin-regular.woff2") format("woff2"), url("../fonts/lato-v11-latin-regular.woff") format("woff"), url("../fonts/lato-v11-latin-regular.ttf") format("truetype"), url("../fonts/lato-v11-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* permanent-marker-regular - latin */
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/permanent-marker-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Permanent Marker"), local("PermanentMarker"), url("../fonts/permanent-marker-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/permanent-marker-v5-latin-regular.woff2") format("woff2"), url("../fonts/permanent-marker-v5-latin-regular.woff") format("woff"), url("../fonts/permanent-marker-v5-latin-regular.ttf") format("truetype"), url("../fonts/permanent-marker-v5-latin-regular.svg#PermanentMarker") format("svg");
  /* Legacy iOS */ }
