
@font-face {
  font-family: 'QuenteScript-SemiBold';
  src: url('QuenteScript-SemiBold.eot?#iefix') format('embedded-opentype'),  url('QuenteScript-SemiBold.woff') format('woff'), url('QuenteScript-SemiBold.ttf')  format('truetype'), url('QuenteScript-SemiBold.svg#QuenteScript-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
