/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1720px) {
  .categories .categories_item:nth-child(5n+1) {
    clear: both; }
  .categories .categories_item:nth-child(6n+1) {
    clear: none; } }

@media only screen and (max-width: 1600px) {
  .header_panel #search_form input[type="text"] {
    width: 85%; } }

@media only screen and (max-width: 1500px) {
  .categories .categories_item:nth-child(4n+1) {
    clear: both; }
  .categories .categories_item:nth-child(5n+1) {
    clear: none; } }

@media only screen and (max-width: 1280px) {
  .categories .categories_item:nth-child(3n+1) {
    clear: both; }
  .categories .categories_item:nth-child(4n+1) {
    clear: none; }
  .product_view_box {
    width: 40%; }
  .product_info_box {
    width: 60%; }
  .carousel_box {
    width: 550px; } }

@media only screen and (min-width: 993px) {
  .item_cont {
    display: none;
    position: absolute;
    z-index: 10;
    left: 6px;
    top: 100%;
    margin-top: -10px;
    min-width: 600px;
    background-color: #fff;
    border: 1px solid #13417C;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 6px 6px 6px 0 rgba(50, 50, 50, 0.6);
            box-shadow: 6px 6px 6px 0 rgba(50, 50, 50, 0.6); }
    .item_cont ul {
      float: left;
      margin-right: 15px; }
      .item_cont ul a:hover {
        color: #808080; }
  .ui-accordion {
    line-height: 20px; }
    .ui-accordion .ui-accordion-header {
      margin-top: 0;
      padding: 0; }
    .ui-accordion .ui-state-default {
      border: none;
      background: none; }
    .ui-accordion .ui-icon {
      display: none; }
    .ui-accordion .ui-accordion-content {
      padding: 1.5em 2.2em; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .header_panel #search_form input[type="text"] {
    width: 78%; }
  .categories .categories_item {
    width: 200px; }
  .subcategories .subcategories_item {
    margin: 7px; }
  .sidebar-show {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    border: 1px solid #dcdcdc;
    background-color: #E0E0E0;
    z-index: 20; }
  .sidebar-left {
    position: fixed;
    display: none;
    width: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 15px 0 15px 15px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 20; }
    .sidebar-left.active {
      display: block; }
    .sidebar-left .sidebar-wrap {
      position: relative;
      padding-right: 12px;
      padding-left: 12px;
      width: 75%;
      height: 100%;
      -webkit-border-radius: 6px;
              border-radius: 6px;
      border: 1px solid #CCCCCC;
      background-color: #F9F9F9;
      overflow-y: scroll; }
    .sidebar-left .close {
      position: fixed;
      top: 10px;
      right: 20px;
      width: 20px;
      height: 20px;
      display: block;
      background-image: url(../img/cancel-white.png); }
  .close {
    margin-top: 6px;
    display: block;
    float: right;
    width: 12px;
    height: 12px;
    background: url("../img/close.png") no-repeat center;
    background-size: cover;
    cursor: pointer; }
  .carousel_box {
    width: 450px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .top_menu {
    text-align: center; }
    .top_menu .home {
      float: left; }
    .top_menu .menu-show {
      display: block;
      text-decoration: none; }
      .top_menu .menu-show:hover {
        color: inherit;
        background-color: #e6e6e6;
        -webkit-transition: all .3s ease;
        transition: all .3s ease; }
    .top_menu .prod_box .prod_img_wrap .tip {
      display: none; }
    .top_menu .close {
      display: block; }
  .top_menu_list {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #fff;
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    transform: translateY(-150px);
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease; }
    .top_menu_list li {
      float: none;
      padding-left: 15px;
      padding-right: 15px;
      margin-right: 0;
      display: block;
      font-size: 14px;
      background-image: none; }
      .top_menu_list li:hover {
        background-color: #D0E7F9; }
      .top_menu_list li a {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px; }
    .top_menu_list .top_menu_buttons:hover {
      background-color: #fff; }
  .top_menu_list.active {
    display: block;
    min-height: 100%;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    z-index: 20;
    opacity: 1;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease; }
    .top_menu_list.active li a {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px; }
  .header_panel #search_form input[type="text"] {
    width: 75%; }
  .header_panel .logo {
    padding-right: 13px;
    width: 130px; }
  .header_panel .telephones {
    font-size: 13px;
    padding-top: 20px;
    padding-right: 10px;
    width: 200px; }
  .header_panel .menu {
    position: relative;
    border: none;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .header_panel .menu .menu_wrap {
      padding-right: 0;
      display: block;
      position: relative;
      top: 0;
      left: 0;
      width: 99%;
      z-index: 10; }
      .header_panel .menu .menu_wrap .item_cont {
        display: block; }
      .header_panel .menu .menu_wrap .menu_item {
        padding: 7px;
        margin-left: 0;
        float: none;
        display: block;
        width: 100%;
        clear: both;
        font-family: "Verdana", sans-serif;
        text-align: center;
        color: #32628B;
        text-shadow: none;
        background-color: #fff;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        border: 1px solid #d0e7f9;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .header_panel .menu .menu_wrap .menu_item:hover {
          color: inherit;
          background-color: #e6e6e6;
          -webkit-transition: all .3s ease;
          transition: all .3s ease; }
      .header_panel .menu .menu_wrap ul {
        display: block;
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
        vertical-align: top; }
  .categories .categories_item {
    width: 48%;
    margin-right: 2%; }
    .categories .categories_item:nth-child(3n+1) {
      clear: none; }
    .categories .categories_item:nth-child(2n-1) {
      clear: both; }
  .main_footer .f_info {
    float: right;
    width: 49%; }
  .main_footer .f_contacts {
    float: right;
    width: 49%; }
  .main_footer .f_links {
    width: 100%; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
    line-height: 1.5; }
  .header_panel .header_center {
    padding-bottom: 33px; }
  .header_panel .search_wrap {
    display: block;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    width: 97%;
    bottom: 0;
    left: 0; }
  .header_panel #search_form input[type="text"] {
    width: 87%; }
  .header_panel .cart_box {
    padding-right: 0;
    width: 75px; }
  .header_panel .menu .menu_wrap {
    width: 98%; }
  .carousel_box {
    display: none; }
  .sidebar-right {
    display: none; }
  .subcategories {
    text-align: center; }
    .subcategories .subcategories_item {
      display: inline-block;
      width: 80%;
      float: none;
      height: auto;
      margin-top: 0;
      margin-bottom: 7px;
      padding: 0; }
      .subcategories .subcategories_item .subcategories_image {
        display: none; }
  .products_wrap {
    text-align: center; }
    .products_wrap .prod_box {
      display: inline-block;
      float: none; }
  .product_view_box {
    width: 50%; }
  .product_info_box {
    width: 50%; }
    .product_info_box .manufacturer {
      max-width: 100%;
      height: auto; }
  .parameters {
    border-collapse: collapse;
    width: 95%;
    min-width: 200px; }
  .visited_products {
    text-align: center; }
    .visited_products .products_item {
      width: 100%;
      height: auto; }
    .visited_products .product_img_box {
      overflow: hidden; }
    .visited_products .product_text {
      display: block;
      width: 100%; }
  .desc_box {
    font-size: 14px; }
    .desc_box h1 {
      font-size: 24px; }
    .desc_box.short > div {
      height: 350px;
      position: relative; }
  .short > div::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: -webkit-linear-gradient(bottom, #fff 0px, transparent);
    background: linear-gradient(to top, #fff 0px, transparent); } }

@media only screen and (max-width: 560px) {
  .product_view_box {
    width: 100%;
    text-align: center; }
    .product_view_box .product_image,
    .product_view_box .gallery_box,
    .product_view_box .thumb_box {
      display: inline-block; }
  .product_info_box {
    width: 100%; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header_panel #search_form input[type="text"] {
    width: 80%; }
  .header_panel #search_advice_wrapper {
    width: 250px; }
  .header_panel .telephones {
    display: none; }
  .header_panel .menu .menu_wrap {
    width: 96%; }
  .categories {
    text-align: center; }
    .categories .categories_item {
      display: inline-block;
      width: 100%;
      margin-right: 0;
      text-align: center; }
      .categories .categories_item:nth-child(n) {
        clear: none; }
      .categories .categories_item .categories_image {
        display: inline-block; }
  .subcategories .subcategories_item {
    width: 80%; }
  .product_page {
    padding-left: 0; }
  .product_view_box .thumb_box {
    width: 260px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .product_image a img {
    width: 200px; }
  .product_info_box {
    padding-left: 0; }
    .product_info_box .manufacturer {
      width: 200px; }
  .product_delivery {
    margin: 0; }
  #tabs {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
    overflow: hidden; }
  #tabs-params {
    font-size: 11px;
    padding-right: 0; }
  ul.tabs-1 {
    font-size: 11px; }
  .ui-tabs .ui-tabs-nav li a {
    padding: 5px 3px; }
  .foto-block a {
    display: block; }
    .foto-block a img {
      width: 200px;
      height: auto; }
  .main_footer .f_info {
    float: right;
    width: 100%; }
  .main_footer .f_contacts {
    float: right;
    width: 100%; } }
