html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  min-width: 769px;
  font-family: 'OpenSansRegular', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #333;
  background-color: #FFF; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

button {
  display: block;
  padding: 0;
  border: none; }

input {
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper {
  min-width: 360px;
  overflow: hidden;
  position: relative; }

.container {
  max-width: 1070px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  padding-top: 6px;
  padding-bottom: 14px;
  background-color: #D6DDFF; }

section {
  position: relative; }

.panel-left {
  padding-top: 3px; }
  .panel-left a {
    padding-top: 7px;
    padding-left: 6px;
    display: block;
    float: left;
    max-width: 220px;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 1.125em;
    line-height: 1; }
    .panel-left a:hover {
      text-decoration: none;
      color: inherit; }
    .panel-left a:focus {
      text-decoration: none;
      color: inherit; }
  .panel-left .logotype {
    display: block;
    float: left;
    width: 57px;
    height: 57px; }

.panel-right {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: right; }
  .panel-right span {
    display: block;
    line-height: 1.6; }
  .panel-right .phones {
    font-weight: bold;
    color: #9E0000;
    line-height: 1.4; }

.section-first-wrap {
  background-color: #fff; }

.section-first-top {
  text-align: center;
  color: #2D2232; }
  .section-first-top p {
    font-family: 'OpenSansBold', sans-serif;
    font-size: 22px;
    line-height: 1.5; }

.section-first-title {
  padding-top: 25px;
  font-family: 'OpenSansSemiBold', sans-serif;
  text-transform: uppercase;
  font-size: 34px; }
  .section-first-title strong {
    font-family: 'OpenSansBold', sans-serif; }

.section-first-content {
  padding-top: 50px;
  background: url("../img/s_first_bg.jpg") no-repeat top center;
  background-size: 43%; }
  .section-first-content .content-item {
    margin-bottom: 10px;
    background: url("../img/accept.svg") no-repeat top 15px left 0;
    background-size: 20px; }
    .section-first-content .content-item h4 {
      margin-bottom: 3px;
      font-size: 15px; }
    .section-first-content .content-item span {
      font-size: 12px; }
  .section-first-content .col-md-6:nth-child(2n) .content-item {
    margin-left: 180px;
    padding-left: 30px;
    text-align: left; }
  .section-first-content .col-md-6:nth-child(2n-1) .content-item {
    margin-right: 180px;
    padding-right: 30px;
    text-align: right;
    background-position: top 15px right 0; }
  .section-first-content .col-md-6:nth-child(3) .content-item,
  .section-first-content .col-md-6:nth-child(7) .content-item {
    margin-right: 210px; }
  .section-first-content .col-md-6:nth-child(5) .content-item {
    margin-right: 240px; }
  .section-first-content .col-md-6:nth-child(4) .content-item,
  .section-first-content .col-md-6:nth-child(8) .content-item {
    margin-left: 210px; }
  .section-first-content .col-md-6:nth-child(6) .content-item {
    margin-left: 240px; }

.section-second-wrap {
  background-color: #fff;
  text-align: center; }
  .section-second-wrap .top-text {
    margin-top: -40px;
    font-family: 'PTSansBold', sans-serif;
    line-height: 1.2; }
  .section-second-wrap .action {
    display: block;
    font-size: 26px;
    text-transform: uppercase;
    color: #C1272D; }
  .section-second-wrap .discount {
    position: relative;
    margin-right: 25px;
    font-size: 34px;
    color: #C1272D; }
    .section-second-wrap .discount::after {
      position: absolute;
      bottom: 22px;
      left: -2px;
      display: block;
      content: '';
      width: 84px;
      height: 2px;
      background-color: #2D2232;
      -webkit-transform: rotateZ(-11deg);
          -ms-transform: rotate(-11deg);
              transform: rotateZ(-11deg); }
  .section-second-wrap .price {
    font-size: 26px; }
  .section-second-wrap .currency {
    font-size: 20px; }

.section-second-content {
  padding-top: 40px; }
  .section-second-content .content-item {
    display: inline-block;
    margin-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px; }
    .section-second-content .content-item .content-img {
      margin-bottom: 33px;
      border: 4px solid #fff;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      -webkit-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
              box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
      overflow: hidden; }
    .section-second-content .content-item img {
      width: 290px;
      height: 175px; }
    .section-second-content .content-item .content-text {
      font-family: 'OpenSansBold', sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      color: #000; }
  .section-second-content .col-md-6:nth-child(2n-1) {
    text-align: right; }
  .section-second-content .col-md-6:nth-child(2n) {
    text-align: left; }

.section-third-wrap {
  padding: 35px 80px 0;
  background-color: #EDEDED; }

.section-third .section-title {
  margin-bottom: 35px;
  font-family: 'PTSansBold', sans-serif;
  font-size: 28px;
  color: #1C1C1C;
  text-align: center; }

.section-third .col-md-4:last-child .item-img {
  -webkit-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2); }

.section-third-item {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 54px;
  max-width: 100%; }
  .section-third-item .item-img {
    margin-bottom: 20px;
    height: 225px;
    overflow: hidden; }
    .section-third-item .item-img img {
      width: auto;
      min-height: 100%; }
  .section-third-item .item-text {
    font-family: 'PTSansRegular', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #000; }
    .section-third-item .item-text span {
      display: block;
      font-family: 'PTSansBold', sans-serif;
      text-transform: uppercase; }

.section-third-description {
  max-width: 670px;
  margin: 0 auto 35px;
  padding: 15px 20px;
  border: 4px solid #F3D131;
  color: #000; }
  .section-third-description p {
    font-size: 17px;
    text-align: left;
    line-height: 22px;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-style: italic; }

.section-fours-wrap {
  background: url("../img/s_4_bg.jpg") no-repeat left top; }

.section-fours-features {
  padding: 40px 80px 100px;
  color: #fff; }
  .section-fours-features .features-title {
    margin-bottom: 55px;
    text-align: center;
    font-family: 'PTSansBold', sans-serif;
    font-size: 27px; }
  .section-fours-features .features-description {
    font-family: 'PTSansRegular', sans-serif;
    font-size: 20px;
    line-height: 1.2; }

.section-five-wrap {
  padding-top: 80px;
  padding-bottom: 30px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(36%, #EDEDED), color-stop(36%, #fff), to(#fff));
  background: -webkit-linear-gradient(top, #EDEDED 36%, #fff 36%, #fff 100%);
  background: linear-gradient(to bottom, #EDEDED 36%, #fff 36%, #fff 100%); }
  .section-five-wrap .slider-pro {
    margin-left: 30px; }
  .section-five-wrap .sp-thumbnails-container {
    margin-right: 130px;
    padding-right: 10px; }
  .section-five-wrap .sp-thumbnail-container {
    margin-bottom: 9px; }
    .section-five-wrap .sp-thumbnail-container.sp-selected-thumbnail {
      -webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
              box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2); }

.section-six-wrap {
  position: relative;
  padding-top: 50px;
  padding-bottom: 35px;
  background-color: #ffffff; }

.section-six-title {
  margin-bottom: 50px;
  font-family: 'OpenSansBold', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center; }

.section-six-content {
  padding-top: 10px;
  padding-right: 100px;
  background: url("../img/s_6_bg.jpg") no-repeat left top -40px; }

.ordering-form {
  margin-bottom: 35px;
  text-align: right; }

.forms {
  padding: 10px;
  display: inline-block;
  width: 260px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #000;
  border: 2px solid #0071BC;
  -webkit-box-shadow: 0 0 8px rgba(63, 130, 124, 0.5);
          box-shadow: 0 0 8px rgba(63, 130, 124, 0.5); }
  .forms input[type="text"] {
    margin-bottom: 10px;
    width: 90%;
    padding: 10px;
    border: 1px solid #C4C4C4;
    -webkit-border-radius: 2px;
            border-radius: 2px; }
    .forms input[type="text"]:focus {
      -webkit-box-shadow: 0 0 0 2px #051577;
              box-shadow: 0 0 0 2px #051577; }
  .forms .text-top {
    margin-bottom: 10px;
    font-weight: bold; }
  .forms .text-middle {
    margin-bottom: 5px;
    font-style: italic; }
  .forms .text-bottom {
    padding-top: 10px;
    font-weight: bold; }
  .forms .buttons {
    height: 45px;
    width: 100%;
    font-family: 'PTSansRegular', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #6B6B6B;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: #121E94; }
    .forms .buttons:hover {
      background-color: #2A3593; }
    .forms .buttons:active {
      background-color: #051577; }

.action-gift {
  padding-left: 110px;
  float: left; }

.gift-img {
  vertical-align: top;
  display: inline-block; }

.gift-descr {
  font-family: 'PTSansBold', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  display: inline-block;
  width: 180px;
  text-align: center; }
  .gift-descr > span {
    display: block; }
    .gift-descr > span:nth-child(1) {
      text-transform: uppercase;
      color: #FF0000; }
  .gift-descr span:nth-child(2) {
    margin-bottom: 20px;
    font-family: 'PTSansRegular', sans-serif; }
  .gift-descr .discount {
    position: relative;
    font-size: 34px;
    color: #BD2142; }
    .gift-descr .discount::after {
      position: absolute;
      bottom: 18px;
      left: 27px;
      display: block;
      content: '';
      width: 84px;
      height: 2px;
      background-color: #2D2232;
      -webkit-transform: rotateZ(-11deg);
          -ms-transform: rotate(-11deg);
              transform: rotateZ(-11deg); }
  .gift-descr .price {
    font-size: 26px; }
  .gift-descr .currency {
    font-size: 20px; }

.action-timer-wrap {
  padding-top: 50px;
  float: right; }

.action-timer-text {
  padding-right: 7px;
  display: inline-block;
  width: 120px;
  font-family: 'PTSansBold', sans-serif;
  font-size: 18px;
  text-align: right;
  vertical-align: middle;
  color: #9E0000; }

.action-timer {
  display: inline-block;
  width: 265px;
  height: 75px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  color: #fff;
  background-color: #41414C;
  vertical-align: middle; }
  .action-timer .timer {
    padding: 0 10px; }
    .action-timer .timer div {
      display: inline-block; }

.action-price {
  padding-top: 40px;
  position: absolute;
  bottom: 155px;
  right: 380px;
  width: 150px;
  height: 150px;
  font-family: 'PTSansBold', sans-serif;
  text-align: center;
  border: 2px solid #9E0000;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .action-price .discount {
    display: block;
    position: relative;
    font-size: 34px;
    color: #BD2142; }
    .action-price .discount::after {
      position: absolute;
      bottom: 15px;
      left: 20px;
      display: block;
      content: '';
      width: 84px;
      height: 2px;
      background-color: #2D2232;
      -webkit-transform: rotateZ(-11deg);
          -ms-transform: rotate(-11deg);
              transform: rotateZ(-11deg); }
  .action-price .price {
    display: block;
    font-size: 26px; }
  .action-price .currency {
    font-size: 20px; }

.section-seven-wrap {
  padding-top: 23px;
  padding-bottom: 25px;
  color: #000;
  background-color: #EAEAEA; }
  .section-seven-wrap .button-wrap {
    text-align: center; }

.product-spec {
  padding-left: 120px; }

.section-seven-title {
  margin-bottom: 25px;
  font-family: 'PTSansBold', sans-serif;
  font-size: 30px;
  line-height: 1.2; }

.spec-list {
  margin-bottom: 100px; }

.spec-item {
  padding-left: 23px;
  font-family: 'PTSansRegular', sans-serif;
  font-size: 19px;
  line-height: 1.4;
  background: url("../img/bullit.jpg") no-repeat left center; }
  .spec-item span {
    margin-left: 5px;
    font-family: 'PTSansBold', sans-serif; }

.product-images {
  margin-bottom: 43px;
  text-align: center; }

.product-img {
  margin-right: 120px;
  width: 325px;
  height: 260px;
  display: inline-block;
  border: 4px solid #fff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #fff; }
  .product-img img {
    width: 100%;
    height: auto; }
  .product-img:last-child {
    margin-right: 0; }

.order-button {
  display: inline-block;
  width: 605px;
  height: 50px;
  font-family: 'PTSansBold', sans-serif;
  font-size: 26px;
  line-height: 50px;
  color: #2D303B;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #F0C343; }
  .order-button:hover {
    background-color: #29ABE2;
    text-decoration: none;
    color: inherit; }
  .order-button:focus {
    text-decoration: none;
    outline: none;
    color: inherit; }
  .order-button span {
    font-family: 'OpenSansExtraBold', sans-serif;
    font-size: 28px;
    color: #2D2232; }

.section-eight-wrap {
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #fff;
  color: #000; }

.section-eight-title {
  margin-bottom: 25px;
  font-family: 'PTSansBold', sans-serif;
  font-size: 30px;
  text-align: center; }

.delivery-item {
  margin-bottom: 20px;
  font-family: 'PTSansRegular', sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 1.2; }

.delivery-descr {
  max-width: 340px;
  padding: 20px 10px 0;
  margin-right: 60px;
  display: inline-block;
  vertical-align: top; }
  .delivery-descr .accent {
    color: #C1272D; }

.delivery-company {
  width: 210px;
  display: inline-block;
  overflow-x: hidden;
  vertical-align: top; }

.section-nine-wrap {
  padding: 50px 160px 35px;
  color: #fff;
  font-size: 18px;
  background: url("../img/s_9_bg.jpg") no-repeat center;
  background-size: cover; }

.section-nine-title {
  margin-bottom: 33px;
  font-family: 'OpenSansSemiBold', sans-serif;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase; }

.advantage-list {
  line-height: 1.4; }
  .advantage-list .list-item {
    margin-bottom: 18px; }
    .advantage-list .list-item span {
      display: inline-block;
      margin-right: 7px;
      width: 13px;
      height: 13px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #BD2142; }

.section-ten-wrap {
  padding: 45px 70px 35px;
  background-color: #fff;
  color: #2D2232; }

.section-ten-title {
  margin-bottom: 50px;
  font-family: 'OpenSansSemiBold', sans-serif;
  font-size: 26px;
  text-align: center; }

.reviews-wrap {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }
  .reviews-wrap .reviews-item {
    margin-bottom: 45px; }
  .reviews-wrap .item-left {
    padding-top: 5px;
    display: inline-block;
    width: 15%;
    font-size: 12px;
    vertical-align: top;
    line-height: 1.2; }
  .reviews-wrap .item-right {
    display: inline-block;
    width: 84%;
    vertical-align: top; }
  .reviews-wrap .review-rate {
    position: relative;
    margin-bottom: 8px;
    width: 60px;
    height: 12px;
    background: url("../img/rate-img.png") repeat-x; }
    .reviews-wrap .review-rate span {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 12px;
      background-color: #fff; }
  .reviews-wrap .review-name {
    color: #428FC3; }
  .reviews-wrap .review-likes {
    color: #428FC3; }
    .reviews-wrap .review-likes span {
      display: inline-block;
      padding-left: 15px;
      line-height: 1.2;
      font-size: 12px;
      background: url("../img/likes.png") no-repeat 0 0; }
    .reviews-wrap .review-likes .like {
      background-position: 0 -2px;
      margin-right: 15px; }
    .reviews-wrap .review-likes .dislike {
      background-position: 0 -15px; }
  .reviews-wrap .review-text {
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 14px; }

.section-eleven-wrap {
  padding-top: 70px;
  padding-bottom: 40px;
  position: relative;
  background-color: #fff;
  color: #000; }
  .section-eleven-wrap::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: #FF0000; }

.section-eleven-title {
  margin-bottom: 25px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center; }

.faq-wrap {
  padding: 0 9%; }
  .faq-wrap .col-md-6:nth-last-child(1) .faq-item {
    margin-bottom: 0; }
  .faq-wrap .col-md-6:nth-last-child(2) .faq-item {
    margin-bottom: 0; }

.faq-item {
  font-family: 'OpenSansLight', sans-serif;
  font-size: 18px;
  color: #2D2232;
  margin-bottom: 30px; }
  .faq-item .question {
    margin-bottom: 10px; }
    .faq-item .question span {
      margin-right: 10px; }
  .faq-item .answer {
    line-height: 1.4;
    color: #777; }
    .faq-item .answer span {
      margin-right: 10px;
      color: #2D2232; }

.section-eleven-ordering {
  padding: 30px 120px 0;
  background: url("../img/s_11_bg.jpg") no-repeat left top -15px;
  background-size: 50%; }

.section-eleven-action {
  padding-right: 30px; }
  .section-eleven-action .action-gift {
    float: right;
    padding-left: 30px; }
  .section-eleven-action .gift-img {
    padding-top: 30px; }
  .section-eleven-action .action-timer-wrap {
    padding-top: 100px; }
  .section-eleven-action .action-price {
    bottom: 220px;
    right: 414px; }

.footer-wrap {
  position: relative;
  padding-top: 5px;
  padding-bottom: 30px;
  background-color: #fff; }
  .footer-wrap::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 27%;
    width: 46%;
    height: 1px;
    background-color: #469B95; }
  .footer-wrap .panel-right {
    padding-left: 25px;
    text-align: left; }
    .footer-wrap .panel-right .phones {
      margin-bottom: 10px; }
    .footer-wrap .panel-right .organization {
      font-size: 14px;
      line-height: 1.2; }
