/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .wrapper .container {
    width: 100%; }
  .cont-inf {
    text-align: right; }
  .cont-inf-item {
    padding-left: 25px;
    padding-right: 0; }
  .main-header nav {
    padding-right: 0; }
  .main-footer {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #fafafa), color-stop(80%, #ffffff), to(#ffffff));
    background: -webkit-linear-gradient(top, #fafafa 80%, #ffffff 80%, #ffffff 100%);
    background: linear-gradient(to bottom, #fafafa 80%, #ffffff 80%, #ffffff 100%);
    -webkit-border-top-right-radius: 35px;
            border-top-right-radius: 35px;
    -webkit-box-shadow: -1px -1px 1px 0 #9d9d9d;
            box-shadow: -1px -1px 1px 0 #9d9d9d; }
    .main-footer .footer-content {
      background: none; }
    .main-footer .footer-sub-bg {
      background: none; }
    .main-footer .container {
      width: 100%;
      background: none; }
  .main .panel-top {
    padding-right: 20px; }
  .main .page_path {
    padding-left: 15px; }
  .home-text-wrap {
    padding-left: 15px;
    padding-right: 15px; }
  .product_gallery {
    padding-top: 45px; }
  .another-products {
    overflow: hidden; }
    .another-products .product-item {
      display: inline-block;
      width: 19%;
      height: auto;
      text-align: center;
      vertical-align: top; }
    .another-products .product-img {
      display: table-cell;
      width: 100%; }
    .another-products .product-descr {
      text-align: center; }
  .delivery-descr {
    margin-top: 0; }
  .viewed-products {
    padding-left: 15px; }
  .another-products {
    padding-left: 0;
    border-left: none; }
  .product_gallery {
    margin-bottom: 30px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .main-header .h-left-sm {
    padding-top: 10px; }
  .cont-inf {
    padding-top: 7px;
    padding-bottom: 23px;
    font-size: 10px; }
    .cont-inf .phone-accent {
      font-size: 14px; }
    .cont-inf .work-time {
      font-size: 9px; }
  .cont-inf-item {
    padding-left: 25px;
    padding-right: 0; }
  .main-header {
    background: #fff; }
    .main-header nav {
      position: relative;
      width: 100%;
      background: -webkit-linear-gradient(bottom, #222222 5px, #222222 5px, #4c4c4c 30px, #4c4c4c 30px);
      background: linear-gradient(to top, #222222 5px, #222222 5px, #4c4c4c 30px, #4c4c4c 30px); }
    .main-header .navigation {
      display: block;
      padding: 0;
      background: none; }
    .main-header .nav-item {
      background: none;
      font-size: 14px;
      line-height: 32px; }
    .main-header .main-header-bottom {
      background-color: #9d9d9d; }
    .main-header .all-hatsan {
      font-size: 14px;
      line-height: 30px; }
  .empty {
    height: 220px; }
  .main-footer {
    padding-bottom: 10px;
    margin-top: -220px;
    height: 220px;
    font-size: 12px;
    overflow: hidden; }
    .main-footer .footer-sub-bg {
      height: 0;
      background: none; }
    .main-footer .socials {
      padding-left: 8px;
      margin-bottom: 10px; }
    .main-footer .copyright {
      margin-bottom: 10px;
      border: none; }
      .main-footer .copyright .copy-accent {
        margin-bottom: 0; }
    .main-footer .footer-menu {
      border: none;
      margin-bottom: 10px; }
      .main-footer .footer-menu .menu-accent {
        margin-bottom: 0; }
      .main-footer .footer-menu li {
        display: inline-block;
        margin-right: 5px;
        font-size: 12px; }
      .main-footer .footer-menu a:hover {
        color: #9d9d9d; }
    .main-footer .footer-contacts {
      border: none;
      margin-bottom: 10px; }
      .main-footer .footer-contacts .contacts-accent {
        margin-bottom: 0; }
  .products-list .products-title {
    text-align: center; }
  .product-item {
    margin-bottom: 0;
    background: url("../img/hr_dot.gif") repeat-x left bottom; }
    .product-item:last-child {
      background: none; }
  .main .page_path {
    font-size: 12px; }
  .product-sect .product-img {
    width: 200px;
    height: 200px; }
    .product-sect .product-img img {
    width: 100%; }
    .product-sect .product-img a {
      line-height: 200px; }
  .product_gallery {
    text-align: center; }
    .product_gallery .gallery-img-wrap:last-child {
      margin-right: 0; }
  .prod-ordering {
    text-align: center; }
    .prod-ordering .prod-descr {
      display: inline-block;
      margin-bottom: 30px; }
    .prod-ordering .add-to-cart {
      display: inline-block;
      margin-bottom: 30px; }
    .prod-ordering .delivery-descr {
      display: inline-block; }
  .viewed-products {
    display: none; }
  .another-products {
    display: none; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .main-header .logo-wrap img {
    max-width: 100%;
    height: auto; }
  .main-header .h-left-sm {
    padding-right: 0;
    padding-top: 0;
    width: 50%; }
  .main-header .h-right-sm {
    padding-left: 0;
    width: 50%; }
  .main-header .cont-inf {
    font-size: 9px; }
  .cont-inf .phone-accent {
    font-size: 12px; }
  .main-header .cont-inf-item {
    padding-left: 7px;
    padding-right: 15px; }
  .main-header .navigation {
    display: block;
    position: absolute;
    width: 100%;
    top: 100%;
    text-align: center;
    background-color: #222;
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateY(-150px);
        -ms-transform: translateY(-150px);
            transform: translateY(-150px);
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease; }
    .main-header .navigation.active {
      display: block;
      -webkit-transform: translateY(0px);
          -ms-transform: translateY(0px);
              transform: translateY(0px);
      z-index: 10;
      opacity: 1;
      -webkit-transition: opacity .5s ease;
      transition: opacity .5s ease; }
  .main-header .nav-item {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    font-size: 14px;
    background-image: none; }
    .main-header .nav-item a {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px; }
  .main-header .nav-show {
    display: block;
    font-size: 16px;
    line-height: 35px; }
  .main-header .cont-inf {
    padding-top: 0;
    padding-bottom: 10px; }
  .main .panel-top {
	text-align: left; }
  .main .top_search_text {
	width: 120px !important; }
  .products-list,
  .home-text {
    padding-left: 5px;
    padding-right: 10px; }
  .product-item .product-img {
    width: 130px;
    height: 130px; }
    .product-item .product-img a {
      line-height: 130px; }
    .product-item .product-descr a {
      max-height: 35px; }
  .another-products {
    display: none; } 
  .empty {
    height: 250px; }
  .main-footer {
    height: 250px;
    margin-top: -250px; }
    .main-footer .footer-menu li {
      display: block; }
  }

@media only screen and (max-width: 320px) {

}
