
@font-face {
  font-family: 'QuenteScript-Pen';
  src: url('QuenteScript-Pen.eot?#iefix') format('embedded-opentype'),  url('QuenteScript-Pen.woff') format('woff'), url('QuenteScript-Pen.ttf')  format('truetype'), url('QuenteScript-Pen.svg#QuenteScript-Pen') format('svg');
  font-weight: normal;
  font-style: normal;
}
