.product_gallery {
  max-height: 555px;
  overflow: hidden; }
  .product_gallery .gallery_thumbnails {
    height: 100%;
    padding-top: 18px; }
  .product_gallery .carousel-indicators {
    padding-top: 20px;
    position: relative;
    margin: 0; }
  .product_gallery .prod_thumb {
    margin-bottom: 10px;
    max-width: none;
    max-height: none;
    width: 67px;
    height: 67px;
    background-color: white;
    border: 1px solid #cfcfcf;
    text-indent: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }
    .product_gallery .prod_thumb::after, .product_gallery .prod_thumb::before {
      display: none; }
  .product_gallery .prod_image {
    margin: 0 auto;
    text-align: center; }
    .product_gallery .prod_image img {
      max-width: 100%;
      height: auto; }

.product_gallery .carousel-item {
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s; }

.product_card .product_title {
  margin-bottom: 25px;
  font-size: 32px;
  line-height: 33px; }

.product_card .price_block {
  margin-bottom: 19px; }

.product_card .price {
  font-size: 32px;
  font-weight: 700;
  color: #e96386; }
  .product_card .price small {
    font-size: 24px;
    font-weight: 400; }

.product_card .settings_block {
  margin-bottom: 10px; }

.product_card .availability--true {
  padding-top: 8px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 22px;
  color: #00c562;
  background: url("../img/in-stock.png") no-repeat left top 10px; }

.product_card .size {
  margin-bottom: 5px; }
  .product_card .size .caption {
    margin-bottom: 13px;
    font-size: 13px;
    text-decoration: underline; }

.product_card .color {
  margin-bottom: 19px; }
  .product_card .color .caption {
    margin-bottom: 14px; }
  .product_card .color .colors-item {
    margin-right: 16px;
    margin-bottom: 5px; }
  .product_card .color .colors-btn {
    display: block;
    width: 34px;
    height: 30px;
    border: 1px solid #cfcfcf; }

.product_card .order_amount {
  margin-bottom: 24px; }

.product_card .order_amount-wrap {
  width: 124px;
  border: 1px solid #cfcfcf; }
  .product_card .order_amount-wrap .increase {
    display: block;
    float: left;
    position: relative;
    width: 26%;
    height: 33px;
    border-left: 1px solid #cfcfcf; }
    .product_card .order_amount-wrap .increase:after {
      display: block;
      content: '';
      position: absolute;
      top: 13px;
      left: -webkit-calc( 50% - 7px);
      left: calc( 50% - 7px);
      height: 0;
      width: 0;
      border-bottom: 8px solid #333333;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent; }
  .product_card .order_amount-wrap .decrease {
    display: block;
    float: left;
    position: relative;
    width: 26%;
    height: 33px;
    border-right: 1px solid #cfcfcf; }
    .product_card .order_amount-wrap .decrease:after {
      display: block;
      content: '';
      position: absolute;
      top: 13px;
      left: -webkit-calc( 50% - 7px);
      left: calc( 50% - 7px);
      height: 0;
      width: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 8px solid #333333; }
  .product_card .order_amount-wrap .amount {
    display: block;
    float: left;
    width: 48%;
    height: 33px;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #888; }

.product_card .buttons_block {
  margin-bottom: 25px; }

.product_card .order_btn {
  display: block;
  padding: 8px 5px 7px;
  width: 49%;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: normal;
  background-color: #666666;
  -webkit-border-radius: 0;
          border-radius: 0; }
  .product_card .order_btn:hover {
    background-color: #e96386; }

.product_card .payments_block {
  margin-bottom: 24px; }

.product_card .payments_item {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px; }
  .product_card .payments_item img, .product_card .payments_item span {
    display: inline-block;
    vertical-align: middle; }

.product_card .parameters_block {
  margin-bottom: 37px; }

.product_card .param_table {
  width: 100%;
  display: table;
  line-height: 31px;
  border: 1px solid #cfcfcf;
  border-bottom: none;
  border-right: none; }
  .product_card .param_table .tb-r {
    display: table-row; }
  .product_card .param_table .tb-c {
    width: 50%;
    display: table-cell;
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf; }

.product_card .param_name {
  text-align: right;
  padding-right: 20px;
  font-weight: 700; }

.product_card .param_value {
  padding-left: 20px; }

.product_section .product_description {
  padding: 18px 25px 32px;
  line-height: 18px;
  background-color: #f7f7f7; }

.product_section .advantages_block {
  padding-top: 5px; }

.product_section .advantages_image {
  height: 57px;
  text-align: center; }
  .product_section .advantages_image img {
    display: inline-block; }

.product_section .advantages_text {
  text-align: center;
  font-size: 18px;
  line-height: 30px; }
  .product_section .advantages_text strong {
    font-weight: 700; }
  .product_section .advantages_text .accent {
    color: #e96386; }

.similar_goods {
  padding-top: 43px; }
  .similar_goods .title {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 30px;
    text-align: center; }

.pop_goods {
  padding-top: 43px; }
  .pop_goods .title {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 30px;
    text-align: center; }

.products_slider_item {
  padding: 0 15px;
  line-height: 30px;
  text-align: center; }
  .products_slider_item .slider_item_image {
    height: 221px; }
    .products_slider_item .slider_item_image img {
      max-width: 100%;
      max-height: 100%; }
  .products_slider_item .slider_item_name {
    display: block; }
  .products_slider_item .slider_item_price {
    font-size: 18px;
    color: #e96386; }

@media (max-width: 1199px) {
  .product_card .order_btn {
    font-size: 16px; } }

@media (max-width: 767px) {
  .product_section .advantages_item {
    padding: 0 15px;
    margin-bottom: 20px;
    white-space: normal; } }

@media (max-width: 480px) {
  .product_card .order_btn {
    font-size: 14px; } }
