body {
  margin: 0;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  color: #4c4c4c;
  background-color: #fff; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

a {
  color: inherit;
  text-decoration: underline; }
  a:hover, a:focus {
    text-decoration: none;
    color: #e96386; }

input {
  outline: none; }

.container {
  width: 1170px; }

.wrapper {
  min-width: 320px; }

.s_title {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase; }

.s_title_caption {
  text-align: center; }

.block_title {
  font-size: 32px; }

.line-through {
  text-decoration: line-through; }

.underline {
  text-decoration: underline; }

.owl-nav .owl-prev {
  position: absolute;
  width: 30px;
  height: 46px;
  top: -webkit-calc(50% - 23px);
  top: calc(50% - 23px);
  left: 0;
  color: transparent;
  background: url("../img/arr-prev.jpg"); }

.owl-nav .owl-next {
  position: absolute;
  width: 30px;
  height: 46px;
  top: -webkit-calc(50% - 23px);
  top: calc(50% - 23px);
  right: 0;
  color: transparent;
  background: url("../img/arr-next.jpg"); }

.owl-carousel .owl-item img {
  width: auto; }

.logo-caption {
  margin-bottom: 0;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 13px; }

.breadcrumbs_block .breadcrumb {
  padding: 19px 15px 19px;
  margin-bottom: 18px;
  background-color: transparent; }

.main_header .logo {
  padding-top: 5px; }

.main_header .cart {
  padding-top: 45px;
  text-align: center; }
  .main_header .cart .cart-price {
    margin-bottom: 12px;
    padding-top: 4px;
    font-weight: 700;
    color: #e96386; }
  .main_header .cart .cart-img {
    position: relative; }
    .main_header .cart .cart-img .items-count {
      position: absolute;
      left: -webkit-calc(50% - 4px);
      left: calc(50% - 4px);
      top: 18px;
      color: #fff; }

.main_header .entering {
  position: absolute;
  right: 15px;
  top: 12px;
  padding-left: 13px;
  font-size: 13px;
  background: url("../img/lock.png") no-repeat left top 2px; }
  .main_header .entering .login, .main_header .entering .register {
    padding: 0 6px;
    text-decoration: none; }
  .main_header .entering .register {
    padding-right: 0; }

.main_header-top {
  padding-bottom: 8px; }
  .main_header-top .phones_wrap {
    margin-top: 58px;
    padding-left: 57px;
    text-align: right;
    background: url("../img/telephone.png") no-repeat; }
  .main_header-top .phones_number {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 1; }
    .main_header-top .phones_number span {
      font-size: 18px;
      color: #e96386; }
  .main_header-top .phones_order {
    margin-bottom: 0; }

.main_header-top-center {
  padding-top: 10px; }
  .main_header-top-center .small_menu {
    margin-bottom: 33px; }
  .main_header-top-center .small_menu-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .main_header-top-center .small_menu-item {
    margin-right: 24px; }
  .main_header-top-center .search {
    padding-left: 40px; }
    .main_header-top-center .search input {
      padding: 4px 30px 5px 8px;
      width: 342px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: 1px solid #aaaaaa;
      background: url("../img/search.png") no-repeat right 8px top 6px; }
      .main_header-top-center .search input::-webkit-input-placeholder {
        font-size: 12px;
        color: #aaaaaa; }
      .main_header-top-center .search input::-moz-placeholder {
        font-size: 12px;
        color: #aaaaaa; }
      .main_header-top-center .search input:-moz-placeholder {
        font-size: 12px;
        color: #aaaaaa; }
      .main_header-top-center .search input:-ms-input-placeholder {
        font-size: 12px;
        color: #aaaaaa; }

.main_header-nav {
  background-color: #666666; }
  .main_header-nav .nav_content-title {
    margin-bottom: 0.8rem;
    font-size: 16px;
    font-weight: 700; }
    .main_header-nav .nav_content-title a {
      text-decoration: none; }
  .main_header-nav .nav_content {
    padding: 20px 40px 55px 20px;
    margin-top: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    border: 1px solid #f9f9f9;
    -webkit-box-shadow: 0 5px 5px rgba(249, 249, 249, 0.75);
            box-shadow: 0 5px 5px rgba(249, 249, 249, 0.75);
    color: #666666; }
  .main_header-nav .nav-item {
    color: #ffffff; }
    .main_header-nav .nav-item > a {
      padding: 10px 0 12px;
      display: block;
      font-size: 17px;
      text-decoration: none; }
      .main_header-nav .nav-item > a:hover {
        color: inherit; }
  .main_header-nav .navbar {
    width: 100%;
    min-height: 44px;
    padding: 0; }
    .main_header-nav .navbar .btn_wrap button {
      padding-top: .5em;
      padding-bottom: .5em;
      outline: none;
      cursor: pointer;
      border-color: transparent; }
    .main_header-nav .navbar .navbar-toggler-icon {
      width: 1.25em;
      height: 1.25em;
      background-image: url(../img/menu-options.svg); }
  .main_header-nav .navbar-nav {
    width: 100%; }
    .main_header-nav .navbar-nav .all_goods {
      position: absolute;
      bottom: -35px;
      font-size: 14px;
      left: 0; }
  .main_header-nav .item_wrap a {
    font-size: 14px; }

.banners_carousel .carousel-control-next, .banners_carousel .carousel-control-prev {
  display: none; }

.banners_carousel .carousel-indicators li {
  margin-right: 13px;
  max-width: 17px;
  height: 17px;
  background-color: #666;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .banners_carousel .carousel-indicators li.active {
    background-color: #e96386; }

.banners_carousel .carousel-inner {
  max-height: 550px; }

.banners_carousel .carousel-item .img-fluid {
  width: 100%; }

.banners_carousel .carousel_item-caption {
  position: absolute;
  width: 100%;
  top: 90px;
  left: 15px;
  z-index: 10;
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff; }
  .banners_carousel .carousel_item-caption .container {
    padding: 0; }
  .banners_carousel .carousel_item-caption h3 {
    margin-bottom: 25px;
    color: #eb667c; }
  .banners_carousel .carousel_item-caption p {
    margin-bottom: 60px;
    color: #666; }
  .banners_carousel .carousel_item-caption .btn {
    display: inline-block;
    padding: 7px 37px 11px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    background-color: #e96386;
    -webkit-border-radius: 5px;
            border-radius: 5px; }

.deliver {
  padding: 29px 0 34px;
  background-color: #f5f5f5;
  text-align: center; }
  .deliver .deliver-img {
    display: inline-block;
    max-width: 100%; }

.banners {
  -webkit-box-shadow: inset 0 4px 8px rgba(25, 28, 30, 0.35);
          box-shadow: inset 0 4px 8px rgba(25, 28, 30, 0.35);
  padding-top: 50px; }
  .banners .s_title {
    margin-bottom: 3px;
    color: #eb667c; }
  .banners .s_title_caption {
    margin-bottom: 40px;
    font-size: 24px;
    color: #666666; }
  .banners .banners_item {
    position: relative;
    width: 100%; }
    .banners .banners_item img {
      max-width: 100%;
      height: auto; }
    .banners .banners_item .caption {
      padding: 3px 25px 6px;
      bottom: 36px;
      max-width: 100%;
      position: absolute;
      font-size: 48px;
      line-height: 1;
      text-transform: uppercase;
      background-color: #fff;
      color: #ffffff; }
      .banners .banners_item .caption.baby {
        background-color: #fff;
        color: #666666; }
      .banners .banners_item .caption.boys {
        background-color: #666666; }
      .banners .banners_item .caption.girls {
        background-color: #e96386; }
  .banners .banners_wrap [class*="col-"] {
    padding: 0; }
    .banners .banners_wrap [class*="col-"]:nth-child(3n+1) {
      padding-left: 15px; }
    .banners .banners_wrap [class*="col-"]:nth-child(3n) {
      padding-right: 15px; }

.popular_goods {
  padding-top: 70px;
  padding-bottom: 106px; }
  .popular_goods .s_title {
    margin-bottom: 43px;
    font-family: 'Roboto', sans-serif;
    color: #7d7b7b; }

.popular_goods-item {
  margin-bottom: 30px;
  position: relative;
  background-color: white;
  border: 1px solid #e0e0e1; }
  .popular_goods-item .absolute {
    position: absolute;
    left: 10px;
    top: 8px; }
    .popular_goods-item .absolute .discount {
      position: absolute;
      left: 0;
      top: 1px;
      bottom: 0;
      right: 0;
      text-align: center; }

.popular_goods-image {
  height: 264px; }

.popular_goods-description {
  position: relative;
  padding-top: 3px;
  padding-left: 6%;
  padding-right: 6%; }
  .popular_goods-description::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 88%;
    top: 0;
    left: 6%;
    background-color: #e0e0e1; }
  .popular_goods-description .title {
    margin-bottom: 0;
    font-size: 21px;
    line-height: 24px; }
  .popular_goods-description .brand {
    margin-bottom: 0;
    color: #b6b5b6;
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    line-height: 20px; }
  .popular_goods-description .price {
    display: inline-block;
    font-size: 20px; }
    .popular_goods-description .price .price-item {
      display: block;
      float: left; }
      .popular_goods-description .price .price-item:first-child {
        margin-right: 52px; }
    .popular_goods-description .price .curr-price {
      color: #e96386; }
    .popular_goods-description .price .old-price {
      position: relative; }
      .popular_goods-description .price .old-price::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 120%;
        top: 12px;
        left: -10%;
        background-color: #4c4c4c;
        -webkit-transform: rotate(-7deg);
            -ms-transform: rotate(-7deg);
                transform: rotate(-7deg); }
  .popular_goods-description .product_settings {
    padding-top: 4px;
    padding-left: 3px;
    padding-bottom: 2px; }
  .popular_goods-description .colors .colors-item {
    margin-bottom: 13px;
    margin-right: 12px; }
  .popular_goods-description .colors .colors-btn {
    display: block;
    width: 21px;
    height: 21px; }

.product-sizes {
  font-size: 15px;
  color: #333; }
  .product-sizes .sizes-item {
    margin-bottom: 10px;
    margin-right: 10px; }
  .product-sizes .sizes-btn {
    display: block;
    width: 34px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #cfcfcf; }

.advantages {
  position: relative;
  padding-top: 65px;
  padding-bottom: 30px;
  background-color: #f7f7f7; }
  .advantages::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 3px;
    height: 2px;
    width: 100%;
    background-color: #fff; }
  .advantages .s_title {
    margin-bottom: 56px;
    font-family: 'Roboto', sans-serif; }

.advantages-item {
  padding-bottom: 30px;
  text-align: center; }

.advantages-image {
  margin-bottom: 27px;
  display: inline-block;
  width: 162px;
  height: 162px;
  background-color: white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 4px 8px rgba(25, 28, 30, 0.35);
          box-shadow: 0 4px 8px rgba(25, 28, 30, 0.35); }
  .advantages-image .image_wrap {
    height: 100%; }
    .advantages-image .image_wrap img {
      max-width: 75%;
      max-height: 75%; }

.advantages-descr {
  margin-bottom: 0;
  color: #333537;
  font-size: 25px;
  line-height: 30px; }

.useful_and_news {
  padding-top: 35px;
  padding-bottom: 20px; }
  .useful_and_news .block_title {
    margin-bottom: 37px; }

.useful-item {
  margin-bottom: 30px; }

.useful-content {
  height: 150px;
  background-color: #f7f7f7;
  overflow: hidden; }

.useful-image {
  width: 200px;
  height: 150px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  overflow: hidden; }
  .useful-image img {
    width: 100%;
    height: auto; }

.useful-descr {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 10px;
  margin-bottom: 10px;
  line-height: 18px; }
  .useful-descr p {
    margin-bottom: 0; }
  .useful-descr .title {
    margin-bottom: 14px;
    line-height: 27px; }

.useful-btn .btn {
  display: block;
  float: right;
  padding-left: 40px;
  width: 160px;
  height: 35px;
  line-height: 17px;
  text-align: left;
  -webkit-border-radius: 0;
          border-radius: 0;
  border: none;
  color: #fff;
  text-decoration: none;
  background: #4c4c4c url("../img/btn-arr.png") no-repeat left 15px top 8px; }
  .useful-btn .btn:hover {
    background-color: #e96386; }

.latest_news-item {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f7f7f7;
  overflow: hidden; }

.latest_news-thumb {
  width: 82px; }
  .latest_news-thumb .number {
    margin-bottom: 4px;
    width: 67px;
    height: 66px;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #fff;
    background-color: #f7f7f7; }
  .latest_news-thumb.accent {
    color: #e96386; }
    .latest_news-thumb.accent .number {
      background-color: #e96386; }

.latest_news-descr {
  padding-top: 17px;
  padding-left: 15px; }
  .latest_news-descr .title {
    margin-bottom: 14px;
    line-height: 27px; }

.main_footer {
  padding-top: 40px;
  background-color: #f7f7f7; }
  .main_footer .title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e96386;
    border-bottom: 1px solid #ccc; }
  .main_footer .rights {
    padding: 15px 0;
    border-top: 1px solid #ccc; }

.payments .title {
  margin-bottom: 22px; }

.payments .payments-item {
  margin-bottom: 16px; }

.payments img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.payments span {
  font-size: 16px; }

.f_main_menu .title, .f_information .title {
  margin-bottom: 21px; }

.f_main_menu ul, .f_information ul {
  font-size: 18px;
  line-height: 30px; }
  .f_main_menu ul a, .f_information ul a {
    text-decoration: none; }
    .f_main_menu ul a:hover, .f_information ul a:hover {
      text-decoration: underline; }

.f_contacts .f_contacts-wrap {
  font-size: 18px;
  line-height: 30px; }

.f_contacts .title {
  margin-bottom: 17px; }

.f_contacts .f_contacts-item {
  margin-bottom: -2px; }
  .f_contacts .f_contacts-item img {
    width: 21px;
    vertical-align: middle; }
  .f_contacts .f_contacts-item address {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle; }
  .f_contacts .f_contacts-item span {
    vertical-align: middle; }

.f_contacts-socials {
  width: 360px;
  margin-top: 12px;
  margin-bottom: 17px; }
  .f_contacts-socials .soc-link {
    width: 46px;
    height: 46px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-size: contain; }
  .f_contacts-socials .soc-vk {
    background: url("../img/vk.png") no-repeat; }
  .f_contacts-socials .soc-ok {
    background: url("../img/ok.png") no-repeat; }
  .f_contacts-socials .soc-fb {
    background: url("../img/fb.png") no-repeat; }
  .f_contacts-socials .soc-ya {
    background: url("../img/ya.png") no-repeat; }
  .f_contacts-socials .soc-mail {
    background: url("../img/mail.png") no-repeat; }

.f_contacts-btn {
  text-align: right; }
  .f_contacts-btn .btn {
    max-width: 100%;
    margin-bottom: 16px;
    padding: 10px 17px 10px 48px;
    display: inline-block;
    color: #fdfbfc;
    font-size: 19px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: none;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: #e96386 url("../img/cart2.png") no-repeat left 13px top 7px; }

@media (min-width: 992px) {
  .main_header-nav .dropdown-toggle::after {
    display: none; }
  .main_header-nav .nav-item {
    position: relative; }
    .main_header-nav .nav-item:hover {
      background-color: #e96386; }
      .main_header-nav .nav-item:hover .nav_content {
        background-color: #fff;
        display: block; }
      .main_header-nav .nav-item:hover .nav_content_wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap; }
        .main_header-nav .nav-item:hover .nav_content_wrap .nav_content-item {
          position: relative; }
          .main_header-nav .nav-item:hover .nav_content_wrap .nav_content-item .item_wrap {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex; }
      .main_header-nav .nav-item:hover::after {
        position: absolute;
        display: block;
        content: '';
        bottom: -10px;
        left: -webkit-calc( 50% - 10px);
        left: calc( 50% - 10px);
        z-index: 9999;
        height: 0;
        width: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #e96386; }
  .main_header-nav .nav_content-item {
    position: relative;
    padding-right: 40px;
    padding-left: 40px;
    border-right: 1px solid #f9f9f9; }
    .main_header-nav .nav_content-item:last-child {
      padding-right: 0;
      border-right: none; }
      .main_header-nav .nav_content-item:last-child .item_wrap ul {
        margin-right: 0; }
    .main_header-nav .nav_content-item:first-child {
      padding-left: 0; }
    .main_header-nav .nav_content-item .item_wrap a:hover {
      text-decoration: none; }
    .main_header-nav .nav_content-item .item_wrap ul {
      display: inline-block;
      margin-right: 60px;
      white-space: nowrap; }
      .main_header-nav .nav_content-item .item_wrap ul:last-child {
        margin-right: 0; }
  .f_contacts-socials .soc-vk:hover {
    background: url("../img/vk-h.png") no-repeat; }
  .f_contacts-socials .soc-ok:hover {
    background: url("../img/ok-h.png") no-repeat; }
  .f_contacts-socials .soc-fb:hover {
    background: url("../img/fb-h.png") no-repeat; }
  .f_contacts-socials .soc-ya:hover {
    background: url("../img/ya-h.png") no-repeat; }
  .f_contacts-socials .soc-mail:hover {
    background: url("../img/mail-h.png") no-repeat; } }

@media (max-width: 1199px) {
  .banners_carousel .carousel_item-caption {
    top: 7.7vw; }
    .banners_carousel .carousel_item-caption h3 {
      margin-bottom: 2vw; }
    .banners_carousel .carousel_item-caption p {
      margin-bottom: 5vw; }
  .useful-image {
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1; }
  .f_contacts-btn {
    text-align: left; }
  .payments, .f_main_menu, .f_information {
    margin-bottom: 30px; }
  .main_header-top-center .search {
    padding: 0; }
    .main_header-top-center .search input {
      display: inline-block;
      max-width: 100%; }
  .main_header-top .phones_wrap {
    padding-left: 45px; }
  .main_header-top-center .small_menu-item {
    margin-right: 15px; } }

@media (max-width: 991px) {
  .main_header .cart {
    padding-top: 20px; }
  .main_header-top .phones_wrap {
    margin-top: 27px; }
  .main_header-nav .container {
    width: 100%;
    padding: 0; }
  .main_header-nav .navbar {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit; }
    .main_header-nav .navbar .all_goods {
      position: static;
      padding-left: 15px;
      padding-bottom: 10px; }
  .main_header-nav .navbar-toggler {
    position: static;
    margin-top: 2px;
    margin-bottom: 2px;
    float: right; }
  .main_header-nav .navbar-nav {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    background-color: #efefef; }
    .main_header-nav .navbar-nav .dropdown-toggle:hover {
      background-color: #ccc; }
    .main_header-nav .navbar-nav .all_goods {
      padding-top: 7px;
      border-top: 1px solid #aaaaaa;
      background-color: #fff; }
      .main_header-nav .navbar-nav .all_goods a {
        display: block; }
  .main_header-nav .nav-item.show .dropdown-toggle {
    border-bottom: 1px solid #999999; }
  .main_header-nav .nav-item.show .nav_content {
    padding-top: 0;
    padding-bottom: 0; }
    .main_header-nav .nav-item.show .nav_content .nav_content-item {
      display: block;
      border-bottom: 1px solid #aaaaaa; }
      .main_header-nav .nav-item.show .nav_content .nav_content-item:last-child {
        border-bottom: none; }
  .main_header-nav .nav_content {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    padding-right: 0;
    padding-left: 0; }
  .main_header-nav .nav-item {
    color: #666666;
    border-bottom: 1px solid #999999; }
  .main_header-nav .nav_content-item .nav_content-title {
    padding: 10px 0 11px 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #aaaaaa; }
    .main_header-nav .nav_content-item .nav_content-title:hover {
      background-color: #ccc; }
      .main_header-nav .nav_content-item .nav_content-title:hover a {
        color: inherit; }
    .main_header-nav .nav_content-item .nav_content-title a {
      display: block; }
  .main_header-nav .item_wrap ul {
    padding: 0;
    white-space: normal; }
    .main_header-nav .item_wrap ul a {
      padding: 6px 0 7px 25px;
      display: block;
      text-decoration: none;
      border-bottom: 1px solid #aaaaaa;
      background-color: #fff; }
      .main_header-nav .item_wrap ul a:hover {
        background-color: #F3F3F3;
        color: inherit; }
    .main_header-nav .item_wrap ul:last-child li:last-child a {
      border-bottom: none; }
  .deliver {
    padding: 20px 0 24px; }
  .banners_carousel .carousel_item-caption .btn {
    padding: 3px 30px 7px; }
  .banners_carousel .carousel_item-caption {
    top: 25px;
    width: 50%;
    font-size: 24px; }
    .banners_carousel .carousel_item-caption h3 {
      margin-bottom: 20px;
      line-height: 1.2; }
    .banners_carousel .carousel_item-caption p {
      margin-bottom: 30px;
      line-height: 0.9; }
  .banners .banners_item .caption {
    font-size: 36px; }
  .useful-image {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; } }

@media (max-width: 767px) {
  .main_header .logo {
    text-align: center; }
  .main_header-top-center .small_menu {
    margin-bottom: 24px; }
  .main_header-top-center .search {
    width: 100%;
    text-align: center; }
  .main_header-top-center .small_menu-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .main_header .cart {
    padding-top: 20px;
    padding-left: 15px;
    text-align: left; }
    .main_header .cart .cart-img {
      display: inline-block; }
  .banners_carousel .carousel_item-caption {
    top: 15px;
    width: 50%;
    font-size: 20px; }
    .banners_carousel .carousel_item-caption h3 {
      margin-bottom: 10px; }
    .banners_carousel .carousel_item-caption p {
      margin-bottom: 15px; }
  .deliver {
    padding: 29px 0 6px; }
    .deliver .deliver-img {
      margin-bottom: 25px; }
  .banners .banners_wrap .col-12 {
    padding: 0 15px; }
  .banners .banners_item {
    margin-bottom: 30px;
    width: auto; }
    .banners .banners_item .caption {
      font-size: 48px; }
  .f_contacts-socials {
    width: 360px;
    max-width: 100%;
    margin-top: 12px;
    margin-bottom: 17px; }
    .f_contacts-socials .soc-link {
      width: 46px;
      height: 46px;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      background-size: contain; }
    .f_contacts-socials .soc-vk {
      background: url("../img/vk.png") no-repeat; }
    .f_contacts-socials .soc-ok {
      background: url("../img/ok.png") no-repeat; }
    .f_contacts-socials .soc-fb {
      background: url("../img/fb.png") no-repeat; }
    .f_contacts-socials .soc-ya {
      background: url("../img/ya.png") no-repeat; }
    .f_contacts-socials .soc-mail {
      background: url("../img/mail.png") no-repeat; }
  .f_contacts-btn .btn {
    font-size: 15px;
    line-height: 25px; } }

@media (max-width: 575px) {
  .container {
    width: 100%; }
  .banners .banners_item .caption {
    font-size: 36px; }
  .advantages-image {
    margin-bottom: 20px;
    width: 124px;
    height: 124px; }
  .advantages-descr {
    font-size: 18px;
    line-height: 1.2; }
  .useful-content {
    height: auto; }
  .useful-image {
    width: 100%;
    height: auto; }
    .useful-image img {
      width: 100%;
      height: auto; }
  .latest_news-descr {
    padding-top: 0; }
  .latest_news-thumb {
    width: 100px; } }

@media (max-width: 480px) {
  .entering {
    display: none; } }
