/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.gallery_text_box {
		width: 485px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	html {
		font-size: 16px;
	}

	body {
		overflow-x: hidden;
	}

	.s_about {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.top_text_wrap {
		margin-top: -240px;
	}

	.logo_container {
		width: 70px;
		height: 70px;
		font-size: 50px;
		line-height: 70px;
	}

	.gallery_item {
		height: 400px;
	}
	.gallery_text_box_wrap {
		text-align: left;
	}
	.gallery_text_box {
		padding-top: 100px;
		padding-bottom: 90px;
		width: 70%;
		text-align: left;
		color: #f9f9f9;
	}

	.music_buying {
		background-image: none;
	}
	.music_buying .container {
		padding: 0;
		width: 100%;
	}
	.music_text_box_left {
		padding-left: 3rem;
		background-color: #2ebd59;
	}
	.music_text_box_right {
		background-color: #282b2f;
	}


	.footer_widgets {
		margin-bottom: 30px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.main_head {
		padding-top: 50px;
	}
	.top_text_wrap {
		margin-top: -180px;
	}

	.s_about {
		background: url("../img/about_bg.jpg") no-repeat left bottom;
		-webkit-background-size: cover;
		background-size: cover;
	}

	.about_text_box {
		padding-left: 15px;
		color: #f9f9f9;
		background-color: transparent;
	}

	.gallery_text_box {
		width: 80%;
	}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	html {
		font-size: 14px;
	}

	.mnu_text {
		top: 24px;
	}

	.top_text_wrap {
		margin-top: -170px;
	}

	.logo_container {
		width: 60px;
		height: 60px;
		font-size: 40px;
		line-height: 60px;
	}

	.gallery_text_box {
		width: 90%;
	}

	.music_play_text_box {
		padding-top: 50px;
		padding-bottom: 50px;
		width: 100%;
	}
	.music_play_text_box p {
		margin-bottom: 20px;
	}
	.music_play_text_box h2 {
		margin-top: 0;
		margin-bottom: 15px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (orientation: portrait) and (min-width : 320px) {
	.main_head {
		background-image: url("../img/header_bg_portrait.jpg");
	}
}

/* Extra Small Devices, Phones */
@media only screen and (orientation: portrait) and (min-width : 480px) {
	html {
		font-size: 20px;
	}

	.mnu_text {
		top: 27px;
	}
	.logo_container {
		width: 80px;
		height: 80px;
		font-size: 60px;
		line-height: 80px;
	}
	.top_text_wrap {
		margin-top: -240px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}