@font-face {
  font-family: 'Gubia Alternate';
  src: url('../fonts/Gubia/Gubia-LightAlternate.eot');
  src: local('Gubia Light Alternate'), local('Gubia-LightAlternate'),
  url('../fonts/Gubia/Gubia-LightAlternate.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gubia/Gubia-LightAlternate.woff') format('woff'),
  url('../fonts/Gubia/Gubia-LightAlternate.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}