@import "../libs/bourbon/app/assets/stylesheets/bourbon";
@import "params";

@media (min-width: 768px) {
  .dashboard_navbar .navbar-collapse.collapse {
    display: none!important;
  }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1366px) {

}
@media (min-width: 1600px) {

}
@media (min-width: 1920px) {

}

@media (min-width: 2560px) {
}
@media (min-width: 3840px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (max-width: 1900px) {
  .dashboard_videos .video_previews_item .item_img {
    height: 188px;
  }
}

@media (max-width: 1600px) {
  .dashboard_content .page_title {
    left: 0;
  }
  .exchange_rates {
    padding: 5px 20px 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
    .rates_icon {
      margin-right: 0;
    }
  }
  .exchange_rates_item {
    margin-right: 0;
    margin-left: 20px;
  }

  .dashboard_content {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .dashboard_block_light .acc_item {
    font-size: 21px;
  }
  .my_team_wrap .ref_links {
    padding-right: 20px;
  }
  .my_team_wrap .members {
    padding-left: 20px;
    padding-right: 20px;
    flex-shrink: 0;
  }
  .my_team_wrap .sign_up {
    padding-left: 20px;
  }

  .next_ico .ico_countdown {
    margin-bottom: 107px;
  }
  .next_ico .ico_countdown > div {
    font-size: 60px;
  }

  .tickets_list_table .dtc.col_title {
    width: 120px;
  }
  .tickets_list_table .dtc.col_massage {
    width: 160px;
  }

  .dashboard_videos .video_previews_item .item_img {
    height: 160px;
  }
}
@media (max-width: 1440px) {
  .dashboard_content {
    max-width: 885px;
  }
  .dashboard_marketing .documents_item {
    flex-wrap: wrap;
    .documents_item_col {
      text-align: center;
      width: 50%;
      &:last-child {
        margin-top: 20px;
        width: 100%;
        .item_header {
          display: none;
        }
      }
      .item_body {
        justify-content: center;
      }
    }
    .download_btn {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .dashboard_videos .video_previews_item .item_img {
    height: 143px;
  }
}
@media (max-width: 1365px) {

}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {

  .dashboard_content .page_title {
    left: 15px;
  }
  .dashboard_logo_block {
    width: 195px;
    flex-shrink: 0;
  }
  .exchange_rates {
    .rates_icon {
      i {
        font-size: 24px;
      }
    }
  }
  .exchange_rates_item {
    font-size: 14px;
    line-height: 20px;
  }
  .header_user_block {
    width: 350px;
  }
  .header_user_block > .logout_btn {
    width: 100px;
  }

  .dashboard_content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .dashboard_content .wallets_wrap {
    display: block;
    padding-left: 0;
    .dashboard_block_dark {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .dashboard_block_light .acc_item {
    font-size: 24px;
  }
  .landing_wallet .wrap {
    flex-wrap: wrap;
    .balance {
      width: 50%;
      padding-top: 15px;
      padding-bottom: 15px;
      &:nth-child(2n) {
        border-right: none;
      }
    }
  }

  .my_team_wrap {
    flex-wrap: wrap;
  }
  .my_team_wrap .ref_links {
    padding-right: 40px;
  }
  .my_team_wrap .members {
    border-right: none;
  }
  .my_team_wrap .sign_up {
    width: 100%;
    padding-left: 0;
  }

  .tickets_list_table .dtc.col_status {
    text-align: center;
  }

  .dashboard_wallets .wallet_block {
    flex-wrap: wrap;
  }

  .dashboard_videos .video_previews_item .item_img {
    height: 130px;
  }
  .dashboard_videos .video_previews_item .title {
    font-size: 16px;
  }
}
@media (min-height: 600px) and (max-height: 810px) {

}
// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  .exchange_rates {
    .rates_icon {
      i {
        display: none;
      }
    }
  }

  .dashboard_content .welcome_block {
    margin-bottom: 20px;
  }
  .dashboard_content .currency_item {
    width: 50%;
    //justify-content: center;
    margin-bottom: 30px;
  }
  .my_team .block_title {
    text-align: center;
  }
  .my_team_wrap .ref_links {
    border-right: none;
    padding-right: 0;
    padding-top: 35px;
    margin-bottom: 40px;
  }
  .my_team_wrap {
    flex-direction: column;
    text-align: center;
  }
  .my_team_wrap .members {
    border-right: none;
    padding: 0;
    margin-bottom: 25px;
  }
  .my_team_wrap .sign_up {
    margin-bottom: 10px;
  }

  .dashboard_ico {
    .ico_countdown_wrap {
      position: relative;
      padding: 35px 32px 30px;
    }
    .next_ico {
      .block_title {
        margin-bottom: 35px;
        text-align: center;
      }
      .ico_countdown {
        & > div {
          font-size: 40px;
          & > span {
            font-size: 14px;
          }
        }
      }
    }
  }
  .dashboard_support {
    .dashboard_block.add_ticket_block {
      flex-direction: column;
      .buttons {
        order: 2;
      }
      .text {
        margin-bottom: 20px;
        padding-left: 0;
        text-align: center;
        order: 1;
      }
    }
  }

  .dashboard_marketing .top_blocks {
    flex-direction: column;
  }

  .dashboard_videos .video_previews_item {
    margin-bottom: 20px;
    .item_img {
      height: auto;
    }
  }
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  .dashboard .main_header .top_navigation li a:hover, .main_header .top_navigation li a:focus {
    color: #fff;
  }
  .dashboard .main_header .top_navigation li a:hover:before, .main_header .top_navigation li a:focus:before {
    display: none;
  }
  .dashboard {
    //height: 2000px;
    .main_header {
      height: auto;
      background-color: #262431;
      .navbar-header {
        display: flex;
        padding: 15px 30px;
      }
      .site_logo {
        margin-top: 0;
      }
      .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
      }
      .top_navigation {
        margin: 0;
        padding-top: 25px;
        padding-bottom: 40px;
      }
    }
  }
  .dashboard_navbar {
    display: block;
    height: auto;
    .dashboard_menu {
      margin-top: 60px;
      margin-bottom: 40px;
      .nav_title {
        margin-bottom: 20px;
        padding-left: 40px;
        background-color: transparent;
        i {
          color: #ffc20e;
        }
      }
      .dropdown_toggle {
        padding-left: 40px;
        color: #fff;
      }
    }
  }
  .dashboard_navbar_block {
    display: block;
    width: 100%;
  }
  .header_user_block .user_avatar {
    margin: 40px auto 30px;
    width: 100px;
    height: 100px;
  }
  .header_user_block .user_menu {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 1;
  }
  .header_user_block .dropdown-toggle {
    padding-right: 17px;
    margin-right: 15px;
    background: none;
    border-right: 2px solid #fff;
  }
  .header_user_block .logout_btn {
    text-transform: none;
    font-weight: 700;
  }
  .header_user_block .dropdown-menu {
    position: static;
    float: none;
    display: block;
    margin-top: 30px;
    padding: 0;
    text-align: center;
    background-color: transparent;
    box-shadow: none;
    li {
      display: inline-block;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      a {
        padding: 0;
        color: #ffc20e;
        font-weight: 700;
        &:hover, &:focus {
          color: #fff;
          background-color:  transparent;
        }
      }
    }
  }
  .exchange_rates {
    position: relative;
    padding: 30px;
    padding-right: 50px;
    margin: 0 30px 34px;
    width: calc(100% - 60px);
  }
  .exchange_rates .rates_icon {
    position: absolute;
    top: 10px;
    right: 15px;
    i {
      display: block;
      font-size: 35px;
    }
  }
  .exchange_rates_item {
    font-size: 16px;
    margin-left: 0;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .dashboard_main {
    padding-left: 0;
    padding-bottom: 10px;
  }
  .next_ico .block_title {
    text-align: center;
  }
  .dashboard_ico .custom_form .block_bottom {
    flex-direction: column;
    align-items: center;
    .captcha {
      margin-bottom: 20px;
      max-width: 100%;
    }
  }

  .custom_table {
    font-size: 12px;
  }

  .dashboard_wallets .wallet_coin,
  .dashboard_wallets .wallet_name,
  .dashboard_wallets .wallet_acc {
    width: auto;
  }
  .dashboard_videos .video_previews_item {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {

  .dashboard_content .currency_item .item_icon {
    width: 45px;
    height: 45px;
    text-align: center;
    img {
      max-height: 100%;
    }
  }
  .dashboard_block {
    text-align: center;
  }
  .dashboard_content .currencies_wrap {
    padding: 0;
  }
  .landing_interest_item {
    text-align: left;
  }
  .dashboard_block .coins_wallet .block_top {
    margin-bottom: 50px;
  }
  .coins_wallet {
    flex-direction: column;
    .block_right {
      padding-left: 0;
    }
    .block_left {
      margin-bottom: 30px;
    }
  }

  .landing_wallet .block_title {
    margin-bottom: 10px;
  }
  .landing_wallet .wrap {
    flex-direction: column;
    .balance {
      width: 100%;
      padding-bottom: 50px;
      padding-top: 50px;
      border-right: none;
      border-bottom: 1px solid #D0CFD3;
      &:last-child {
        border-bottom: none;
        padding-bottom: 30px;
      }
    }
  }
  .next_ico .ico_countdown > div {
    font-size: 50px;
  }
  .next_ico .ico_countdown span {
    font-size: 14px;
  }

  .custom_table {
    .dtc {
      padding: 0 7px;
      font-size: 10px;
      font-weight: 600;
    }
    .tb_header {
      .dtc {
        font-size: 12px;
      }
    }
  }
  .transactions_table {
    .dtc {
      &.sold {
        white-space: nowrap;
      }
    }
  }
  .dashboard_support .add_ticket_form .block_bottom {
    flex-direction: column;
    align-items: center;
    .buttons {
      margin-right: 0;
    }
  }

  .dashboard_wallets .wallet_block {
    padding-left: 0;
    padding-right: 0;
  }
  .dashboard_wallets .wallet_tab_list {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    li {
      &:last-child {
        width: 100%;
        text-align: center;
        a {
          display: inline-block;
        }
      }
    }
    //flex-direction: column;
    //align-items: center;
    .buttons, .history_btn {
      margin-left: 0;
      margin-right: 0;
      margin-top: 10px;
    }
  }
}

@media (max-width: 480px) {
  .next_ico .ico_countdown > div {
    font-size: 45px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .next_ico .ico_countdown span {
    font-size: 12px;
  }
  .landing_interest_item {
    font-size: 12px;
    padding-left: 10px;
    .value {
      font-size: 16px;
    }
  }
  .dashboard_wallets .wallets_top_pan {
    display: none;
  }
}

@media (max-height: 700px) and (orientation: landscape) {

}
@media (max-height: 720px) and (orientation: portrait) {

}